<ui:composition template="/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<ui:define name="content">
		<h:body>
			<p:panel id="panel">

				<p:messages autoUpdate="true" closable="true" id="msgs"
					sticky="false"></p:messages>

				<p:tabView onTabChange="clearMessage()" id="tab" widgetVar="tab">

					<p:tab title="ค้นหาใบเสร็จรับเงิน /ใบกำกับภาษี">
						<h:form id="search">

							<div align="center" style="padding-bottom: 1%">
								<h:panelGrid cellpadding="6" columns="15">


								</h:panelGrid>

								<h:panelGrid cellpadding="4" columns="10">
									<p:commandButton icon="fa fa-search" value="ค้นหา"
										actionListener="#{taxReceiptCtl.searchTaxReceipt}"
										update="search" process="search"></p:commandButton>

									<p:commandButton value="ยกเลิก" update="panel" process="@this"
										icon="fa fa-times-circle">
										<p:resetInput target="panel" />
									</p:commandButton>
								</h:panelGrid>

							</div>

							<p:dataTable tableStyle="table-layout: auto;" paginator="true"
								id="trx-dt"
								value="#{taxReceiptCtl.listOfTaxReceipt}" var="trx"
								rowIndexVar="index" paginatorPosition="bottom" rows="10">

								<p:column headerText="#">
									<h:outputText value="#{index+1}"></h:outputText>
								</p:column>

								<p:column headerText="เลขที่ใบเสร็จรับเงิน / ใบกำกับภาษี ">
									<h:outputText value="#{trx.taxReceiptNumber}"></h:outputText>
								</p:column>

								<p:column headerText="บริษัท">
									<h:outputText
										value="#{trx.invoices.toArray()[0].purchaseOrder.customer.companyName}"></h:outputText>
								</p:column>
								<p:column headerText="รายละเอียด" />
								<p:column headerText="วันที่ออก">
									<h:outputText value="#{trx.createdDate}"></h:outputText>
								</p:column>
								<p:column headerText="จำนวนเงิน">
									<h:outputText value="#{trx.grandTotal}"></h:outputText>
								</p:column>

								<p:column>
									
									<p:commandButton value="อัพเดรตข้อมูล"
										actionListener="#{taxReceiptCtl.updateTaxReceipt(trx)}"
										process="@this" update="tab:add"
										onclick="PF('tab').select(1)"
										
									></p:commandButton>
									<p:commandButton value="ลบข้อมูล"
										actionListener="#{taxReceiptCtl.deleteTaxReceipt(trx)}"
										process="@this" update="trx-dt"></p:commandButton>
								</p:column>


							</p:dataTable>
						</h:form>
					</p:tab>

					<p:tab title="สร้างใบเสร็จรับเงิน /ใบกำกับภาษี">
						<h:form id="add">

							<p:commandButton value="เลือก Customer"
								onclick="PF('selecteCustomer').show('#{component.clientId}')"
								type="button"></p:commandButton>


							<h:panelGrid columns="6" cellpadding="8">

								<p:outputLabel for="customer_code" value="รหัสลูกค้า : " />
								<p:inputText id="customer_code" disabled="true"
									value="#{taxReceiptCtl.customerSelected.customerCode}"
									label="รหัสลูกค้า">
								</p:inputText>

								<p:outputLabel for="firstname" value="ชื่อลูกค้า : " />
								<p:inputText id="firstname" disabled="true"
									value="#{taxReceiptCtl.customerSelected.name}"
									label="ชื่อลูกค้า">
								</p:inputText>

								<p:outputLabel for="lastname" value="นามสกุลลูกค้า : " />
								<p:inputText id="lastname" disabled="true"
									value="#{taxReceiptCtl.customerSelected.lastName}"
									label="นามสกุลลูกค้า">
								</p:inputText>

								<p:outputLabel for="company" value="ชื่อบริษัท : " />
								<p:inputText id="company" disabled="true"
									value="#{taxReceiptCtl.customerSelected.companyName}"
									label="ชื่อบริษัท">

								</p:inputText>


								<p:outputLabel for="branch" value="ชื่อสาขา : " />
								<p:inputText id="branch" disabled="true"
									value="#{taxReceiptCtl.customerSelected.branch}">
								</p:inputText>


								<p:outputLabel for="address" value="ที่อยู่ : " />
								<p:inputTextarea id="address"
									value="#{taxReceiptCtl.customerSelected.address}"
									label="ที่อยู่" disabled="true">
								</p:inputTextarea>
							</h:panelGrid>


							<br />
							<br />
							<p:commandButton value="เลือกรายการ Invoice"
								oncomplete="if(#{taxReceiptCtl.selectedCustomer}){ PF('select-invoce-dialog').show('#{component.clientId}')}"
								actionListener="#{taxReceiptCtl.getInvoiceByCustomer}"
								update="frm-select-invoice" process="@this"></p:commandButton>
							<h:panelGrid>
								<p:dataTable value="#{taxReceiptCtl.listOfSelectedInvoice}"
									id="iv-dt" var="iv" rowIndexVar="index"
									style="text-align:center">
									<p:column headerText="#">
										<h:outputText value="#{index+1}"></h:outputText>
									</p:column>

									<p:column headerText="เลขที่ใบกำกับราคาสินค้า ">
										<h:outputText value="#{iv.invoiceNumber}"></h:outputText>
									</p:column>

									<p:column headerText="จำนวนเงิน">
										<h:outputText value="#{iv.total}"></h:outputText>
									</p:column>

									<p:column>
										<p:commandButton value="ลบ" process="@this"
											actionListener="#{taxReceiptCtl.removeInvoice(iv)}"
											update="tab:add,frm-select-invoice,frm-add-trxd-manual-dialog"></p:commandButton>
									</p:column>
								</p:dataTable>
							</h:panelGrid>
							<br />
							<br />
							<h:panelGrid columns="4">
								<p:outputLabel for="taxreid" value="TaxReceipt-Number : " />
								<p:inputText id="taxreid" />

							</h:panelGrid>
							<br />
							<br />
							<h:panelGrid columns="2">
								<p:commandButton value="เพิ่มรายการจากข้อมูล Invoice"
									process="@this"
									actionListener="#{taxReceiptCtl.getInvoiceDetailByListOfSelectedInvoice}"
									oncomplete="if(#{taxReceiptCtl.selectedInvoice}){PF('select-invoice-detail-dialog').show('#{component.clientId}')}"
									update="frm-select-invoice-detail-dialog"></p:commandButton>
								<p:commandButton value="เพิ่มรายการด้วยตัวเอง" type="button"
									onclick="PF('add-trxd-manual-dialog').show('#{component.clientId}')"></p:commandButton>
							</h:panelGrid>
							<h:panelGrid>
								<p:dataTable value="#{taxReceiptCtl.listOfTaxReceiptDetails}"
									id="trxd-dt" rowIndexVar="index" var="trxd">

									<p:column headerText="#">
										<h:outputText value="#{index+1}"></h:outputText>
									</p:column>

									<p:column headerText="projectName">
										<p:inputText value="#{trxd.projectName}"></p:inputText>
									</p:column>

									<p:column headerText="description">
										<p:inputText value="#{trxd.description}"></p:inputText>
									</p:column>

									<p:column headerText="unitPrice">
										<p:inputText value="#{trxd.unitPrice}"></p:inputText>
									</p:column>

									<p:column headerText="quantity">
										<p:inputText value="#{trxd.quantity}"></p:inputText>
									</p:column>

									<p:column headerText="amount">
										<p:inputText value="#{trxd.amount}"></p:inputText>
									</p:column>

									<p:column headerText="ref Invoice">
										<h:outputText value="#{trxd.refInvoiceNumber}"></h:outputText>
									</p:column>

									<p:column>
										<p:commandButton value="ลบ"
											actionListener="#{taxReceiptCtl.removeTaxReceiptDetail(trxd)}"
											update="tab:add:panel-cal,tab:add:trxd-dt,frm-select-invoice-detail-dialog"
											process="@this"></p:commandButton>
									</p:column>

								</p:dataTable>
							</h:panelGrid>

							<h:panelGrid columns="4" cellpadding="5" id="panel-cal">
								<p:outputLabel for="total" value="Toal"></p:outputLabel>
								<p:inputText required="true" id="total"
									value="#{taxReceiptCtl.taxReceipt.total}"></p:inputText>

								<p:outputLabel for="vat" value="Vat"></p:outputLabel>
								<p:inputText required="true" id="vat"
									value="#{taxReceiptCtl.taxReceipt.vat}"></p:inputText>

								<p:outputLabel for="grandtotal" value="Grand Total"></p:outputLabel>
								<p:inputText required="true" id="grandtotal"
									value="#{taxReceiptCtl.taxReceipt.grandTotal}">

								</p:inputText>

								<pe:keyFilter for="grandtotal,vat,total" mask="num"></pe:keyFilter>
							</h:panelGrid>

							<h:panelGrid columns="2">
								<p:commandButton value="บันทึก"
									actionListener="#{taxReceiptCtl.saveTaxReceipt}"
									process="tab:add" update="tab:add"></p:commandButton>
								<p:commandButton value="ยกเลิก"
									actionListener="#{taxReceiptCtl.init}" process="@this"
									update="panel">
									<p:resetInput target="panel" />
								</p:commandButton>
							</h:panelGrid>


						</h:form>
					</p:tab>

				</p:tabView>





			</p:panel>

			<h:form id="frm-select-invoice">
				<p:overlayPanel widgetVar="select-invoce-dialog" style="width:700px"
					dismissable="false" showCloseIcon="true">
					<p:commandButton value="ตกลง" process="frm-select-invoice"
						actionListener="#{taxReceiptCtl.selectedInvoice}"
						update="tab:add,frm-add-trxd-manual-dialog"
						oncomplete="PF('select-invoce-dialog').hide()"></p:commandButton>
					<p:dataTable rowIndexVar="index" var="iv"
						tableStyle="table-layout: auto;" style="text-align:center"
						value="#{taxReceiptCtl.listOfInvoice}" rowKey="#{iv.id}"
						selection="#{taxReceiptCtl.listOfSelectedInvoice}"
						filteredValue="#{taxReceiptCtl.listOfInvoiceFilltered}">

						<p:column headerText="#">
							<h:outputText value="#{index+1}"></h:outputText>
						</p:column>

						<p:column headerText="เลขที่ใบกำกับราคาสินค้า "
							filterBy="#{iv.invoiceNumber}">
							<h:outputText value="#{iv.invoiceNumber}"></h:outputText>
						</p:column>

						<p:column headerText="จำนวนเงิน">
							<h:outputText value="#{iv.total}"></h:outputText>
						</p:column>

						<p:column headerText="vat">
							<h:outputText value="#{iv.vat}"></h:outputText>
						</p:column>

						<p:column headerText="ยอดรวมสุธิ">
							<h:outputText value="#{iv.grandTotal}"></h:outputText>
						</p:column>

						<p:column selectionMode="multiple"
							style="width:16px;text-align:center" />

					</p:dataTable>

				</p:overlayPanel>
			</h:form>



			<p:overlayPanel widgetVar="selecteCustomer" style="width:800px"
				dismissable="false" showCloseIcon="true">

				<h:form id="form-selecteCustomer">

					<p:dataTable value="#{quotationCtl.listOfCustomer}" var="customer"
						rowIndexVar="index" tableStyle="table-layout: auto;"
						style="text-align:center"
						filteredValue="#{quotationCtl.filteredCustomer}" paginator="true"
						paginatorPosition="bottom" rows="15" id="datatable">
						<p:column headerText="#">
							<h:outputText value="#{index +1}" />
						</p:column>

						<p:column headerText="รหัสลูกค้า"
							filterBy="#{customer.customerCode}" filterMatchMode="contains">
							<h:outputText value="#{customer.customerCode}" />
						</p:column>

						<p:column headerText="ชื่อลูกค้า" filterBy="#{customer.name}"
							filterMatchMode="contains">
							<h:outputText value="#{customer.name}" />
						</p:column>

						<p:column headerText="ชื่อบริษัท"
							filterBy="#{customer.companyName}" filterMatchMode="contains">
							<h:outputText value="#{customer.companyName}" />
						</p:column>

						<p:column>

							<p:commandButton value="เลือก"
								actionListener="#{taxReceiptCtl.selectCustomer(customer)}"
								process="@this" update="tab:add"
								oncomplete="PF('selecteCustomer').hide()"></p:commandButton>
						</p:column>

					</p:dataTable>


				</h:form>

			</p:overlayPanel>

			<p:overlayPanel widgetVar="select-invoice-detail-dialog"
				style="width:800px" dismissable="false" showCloseIcon="true">
				<h:form id="frm-select-invoice-detail-dialog">
					<p:commandButton value="ตกลง"
						process="frm-select-invoice-detail-dialog"
						actionListener="#{taxReceiptCtl.selectedInvoiceDetail}"
						update="tab:add:trxd-dt,tab:add:panel-cal"
						oncomplete="PF('select-invoice-detail-dialog').hide()"></p:commandButton>
					<p:dataTable value="#{taxReceiptCtl.listOfInvoiceDetail}" var="ivd"
						rowIndexVar="index"
						selection="#{taxReceiptCtl.listOfSelectedInvoiceDetail}"
						rowKey="#{ivd.id}">
						<p:column headerText="#">
							<h:outputText value="#{index +1}"></h:outputText>
						</p:column>

						<p:column headerText="projectName">
							<h:outputText value="#{ivd.projectName}"></h:outputText>
						</p:column>

						<p:column headerText="description">
							<h:outputText value="#{ivd.description}"></h:outputText>
						</p:column>

						<p:column headerText="unitPrice">
							<h:outputText value="#{ivd.unitPrice}"></h:outputText>
						</p:column>

						<p:column headerText="quantity">
							<h:outputText value="#{ivd.quantity}"></h:outputText>
						</p:column>

						<p:column headerText="amount">
							<h:outputText value="#{ivd.amount}"></h:outputText>
						</p:column>

						<p:column selectionMode="multiple"
							style="width:16px;text-align:center" />


					</p:dataTable>
				</h:form>
			</p:overlayPanel>

			<p:overlayPanel widgetVar="add-trxd-manual-dialog"
				style="width:800px" dismissable="false" showCloseIcon="true">
				<h:form id="frm-add-trxd-manual-dialog">
					<h:panelGrid columns="4" cellpadding="3">

						<p:outputLabel for="atrxd-projectname" value="ชื่อโปรเจค : " />
						<p:inputText id="atrxd-projectname" required="true"
							value="#{taxReceiptCtl.aTaxReceiptDetail.projectName}">
						</p:inputText>

						<p:outputLabel for="atrxd-description" value="รายละเอียด : " />
						<p:inputText id="atrxd-description" required="true"
							value="#{taxReceiptCtl.aTaxReceiptDetail.description}">
						</p:inputText>


						<p:outputLabel for="atrxd-unitPrice" value="ราคาต่อหน่วย : " />
						<p:inputText id="atrxd-unitPrice" required="true"
							value="#{taxReceiptCtl.aTaxReceiptDetail.unitPrice}">
						</p:inputText>

						<p:outputLabel for="atrxd-quantity" value="จำนวน: " />
						<p:inputText id="atrxd-quantity" required="true"
							value="#{taxReceiptCtl.aTaxReceiptDetail.quantity}">
						</p:inputText>

						<p:outputLabel for="atrxd-unitType" value="ชนิดหน่วยของสินค้า " />
						<p:inputText id="atrxd-unitType" required="true"
							value="#{taxReceiptCtl.aTaxReceiptDetail.unitType}">
						</p:inputText>

						<p:outputLabel for="atrxd-refInvoiceNumber"
							value="อ้างอิงInvoice " />
						<p:selectOneMenu id="atrxd-refInvoiceNumber"
							value="#{taxReceiptCtl.aTaxReceiptDetail.refInvoiceNumber}">
							<f:selectItems value="#{taxReceiptCtl.refInvoiceNumberList}" />
						</p:selectOneMenu>
					</h:panelGrid>
					<p:commandButton value="ตกลง" process="frm-add-trxd-manual-dialog"
						update="tab:add"
						actionListener="#{taxReceiptCtl.manualAddTaxReceiptDetail}"
						oncomplete="PF('add-trxd-manual-dialog').hide()"></p:commandButton>
					<p:commandButton value="ยกเลิก"
						actionListener="#{taxReceiptCtl.clearATaxReceiptDetail}"
						process="@this" update="frm-add-trxd-manual-dialog"
						oncomplete="PF('add-trxd-manual-dialog').hide()"></p:commandButton>
				</h:form>
			</p:overlayPanel>



			<script type="text/javascript">
				function clearMessage() {
					$('#msgs').html('');
				}
			</script>
		</h:body>
	</ui:define>
</ui:composition>
