<ui:composition template="/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">
	<ui:define name="content">
		<p:panel id="panel">
			<p:messages autoUpdate="true"></p:messages>
			<p:tabView widgetVar="tab" id="tab">
				<p:tab title="ค้นหาใบ PO">
					<h:form id="search">
						<h:panelGrid columns="2" cellpadding="5">
							<p:outputLabel for="sponumber" value="เลขที่ใบสั่งซื้อสินค้า : " />
							<p:inputText id="sponumber"
								
								placeholder="เลขที่ใบสั่งซื้อสินค้า"
								value="#{purchaseOrderCtl.sPurchaseOrder.poNumber}">
							</p:inputText>


							<p:outputLabel value="วันที่เริ่มต้น : " for="sStartDate" />
							<p:calendar id="sStartDate" effect="slide"
								value="#{purchaseOrderCtl.sStartDate}"
								placeholder="วันที่เริ่มต้น" maxdate="#{now}" navigator="true"
								locale="de" pattern="MM/dd/yyyy" />


							<p:outputLabel value="วันที่สิ้นสุด : " for="sEndDate" />
							<p:calendar id="sEndDate" effect="slide"
								value="#{purchaseOrderCtl.sEndDate}" placeholder="วันที่สิ้นสุด"
								maxdate="#{now}" navigator="true" locale="de"
								pattern="MM/dd/yyyy" />




							<p:commandButton process="search" update=":frm-dt"
								actionListener="#{purchaseOrderCtl.searchPurchaseOrder}"
								icon="fa fa-search" value="ค้นหา"></p:commandButton>
							<p:commandButton value="ยกเลิก" update="search,frm-dt" process="@this"
								icon="fa fa-times-circle"
								actionListener="#{purchaseOrderCtl.init}">
								<p:resetInput target="panel" />
							</p:commandButton>
						</h:panelGrid>
					</h:form>
				</p:tab>
				<p:tab title="สร้าPO">
					<h:form id="add">

						<h:panelGrid columns="2" cellpadding="5">

							<p:commandButton value="เลือกลูกค้า	"
								onclick="PF('selecteCustomer').show('#{component.clientId}')"
								actionListener="#{quotationCtl.init}" process="@this"
								update="form-selecteCustomer">

							</p:commandButton>
							<div></div>
							<p:outputLabel for="customer" value="ชื่อบริษัท"></p:outputLabel>
							<p:inputText id="customer" disabled="true" placeholder="ชื่อบริษัท"
								required="true" requiredMessage="กรุณาเลือกบริษัท"
								value="#{purchaseOrderCtl.purchaseOrder.customer.companyName}" />
						</h:panelGrid>

						<h:panelGrid columns="4" cellpadding="5">
							<p:outputLabel for="ponumber" value="เลขที่ใบสั่งซื้อสินค้า " />
							<p:inputText id="ponumber" required="true" 
								placeholder="เลขที่ใบสั่งซื้อสินค้า"
								requiredMessage="กรุณาระบุเลขที่ใบสั่งซื้อสินค้า "
								value="#{purchaseOrderCtl.purchaseOrder.poNumber}"
								label="เลขที่ใบสั่งซื้อสินค้า ">
							</p:inputText>
							<p:outputLabel for="docdate" value="วันที่ออกเอกสาร : " />
							<p:calendar id="docdate" required="true"
								placeholder="วันที่ออกเอกสาร"
								maxdate="#{now}" navigator="true"
								requiredMessage="กรุณาระบุวันที่ออกเอกสาร"
								converterMessage="กรุณาระบุวันที่ออกเอกสาร ในรูปแบบ MM/dd/yyyy" 
								locale="de" pattern="MM/dd/yyyy"
								value="#{purchaseOrderCtl.purchaseOrder.docDate}" />

						</h:panelGrid>
						<br />
						<p:commandButton value="เพิ่มรายการ ใบสั่งซื้อ"
							actionListener="#{purchaseOrderCtl.getQuotationByCustomer}"
							process="@this" update="tab:frm-dt-qtlist"
							onclick="if(#{purchaseOrderCtl.selectCustomer}){PF('select-qt-modal').show('#{component.clientId}')}"></p:commandButton>
						<br />
						<br />
						<p:dataTable tableStyle="table-layout: auto;" paginator="true"
							id="dt-podetail"
							value="#{purchaseOrderCtl.listOfPurchaseOrderDetail}"
							var="detail" rowIndexVar="index" paginatorPosition="bottom"
							style="text-align:center	"
							rows="15">
							<p:column headerText="#">
								<h:outputText value="#{index+1}">
								</h:outputText>
							</p:column>
							<p:column headerText="รายละเอียด">
								<p:inputText value="#{detail.description}">
								</p:inputText>
							</p:column>
							<p:column headerText="ราคาต่อหน่วย">
								<p:inputText value="#{detail.unitPrice}"></p:inputText>
							</p:column>
							<p:column headerText="จำนวน">
								<p:inputText value="#{detail.quantity}"></p:inputText>
							</p:column>
							<p:column>
								<p:commandButton icon="fa fa-trash" 
									actionListener="#{purchaseOrderCtl.deletePoDetail(detail)}"
									update="dt-podetail" process="@this">
								</p:commandButton>
							</p:column>

						</p:dataTable>
						
						<br />
						<br />

						<h:panelGrid columns="4" cellpadding="5">
							<p:outputLabel for="total" value="ราคารวม"></p:outputLabel>
							<p:inputText required="true" id="total"
								requiredMessage="กรุณาเพิ่มราย ใบสั่งซื้อ"
								placeholder="ราคารวม"
								value="#{purchaseOrderCtl.purchaseOrder.total}"
								validatorMessage="จำนวนเงินรวมติดลบ หรือเกิน 9,223,372,036,854,775,807">
								
											
							<f:validateDoubleRange minimum="0" maximum="9223372036854775807" />	
							</p:inputText>

							<p:outputLabel for="vat" value="ภาษี"></p:outputLabel>
							<p:inputText required="true" id="vat"
								requiredMessage="กรุณาเพิ่มราย ใบสั่งซื้อ"
								placeholder="ภาษี"
								value="#{purchaseOrderCtl.purchaseOrder.vat}"
								validatorMessage="ภาษีติดลบ หรือเกิน 9,223,372,036,854,775,807">
								
							<f:validateDoubleRange minimum="0" maximum="9223372036854775807"  />	
							</p:inputText>
							
							<p:outputLabel for="grandtotal" value="จำนวนเงินสุทธิ"></p:outputLabel>
							<p:inputText required="true" id="grandtotal"
								requiredMessage="กรุณาเพิ่มราย ใบสั่งซื้อ"
								placeholder="จำนวนเงินสุทธิ	"
								value="#{purchaseOrderCtl.purchaseOrder.grandTotal}"
								validatorMessage="ยอดจำนวนเงินสุทธิติดลบ หรือเกิน 9,223,372,036,854,775,807">
							
							<f:validateDoubleRange minimum="0" maximum="9223372036854775807"  />	
							</p:inputText>

							<pe:keyFilter for="grandtotal,vat,total" mask="num"></pe:keyFilter>
						</h:panelGrid>

						<br />
						<br />

						<h:panelGrid columns="3" cellpadding="5">
							<p:commandButton value="คำณวนแบบอัตโนมัติ" update="add"
								validateClient="false" process="add"
								actionListener="#{purchaseOrderCtl.calculatePurchaseOrder}">

							</p:commandButton>
							<p:commandButton value="บันทึก" update="add,frm-dt" ajax="true"
								validateClient="true" process="add"
								actionListener="#{purchaseOrderCtl.savePurchaseOrder}"
								icon="fa fa-save"></p:commandButton>
							<p:commandButton value="ยกเลิก" update="add, frm-dt:po-detail" process="@this"
								icon="fa fa-times-circle"
								actionListener="#{purchaseOrderCtl.init}">
								<p:resetInput target="panel" />
							</p:commandButton>

						</h:panelGrid>

						<br />
						<br />
					</h:form>
					<p:overlayPanel header="ค้นหา Quotation"
						widgetVar="select-qt-modal" style="width:600px"
						dismissable="false" showCloseIcon="true">
						<br></br>
						<h:form id="frm-dt-qtlist">
							<p:dataTable id="dt-qtlist" paginator="true"
								paginatorPosition="bottom" tableStyle="table-layout: auto;"
								value="#{purchaseOrderCtl.listOfQuotation}" var="quotation"
								rowIndexVar="index"
								filteredValue="#{purchaseOrderCtl.listOfQuotationFiltered}">
								<p:column headerText="#">
									<h:outputText value="#{index+1}">
									</h:outputText>
								</p:column>
								<p:column headerText="เลขที่" filterMatchMode="contains"
									filterBy="#{quotation.qtNumber}">
									<h:outputText value="#{quotation.qtNumber}">
									</h:outputText>
								</p:column>
								<p:column headerText="วันที่" filterMatchMode="contains"
									filterBy="#{quotation.docDate}">
									<h:outputText value="#{quotation.docDate}">
									</h:outputText>
								</p:column>
								<p:column headerText="บริษัท">
									<h:outputText value="#{quotation.organizerBy}">
									</h:outputText>
								</p:column>
								<p:column headerText="ยอดรวมทั้งหมด">
									<h:outputText value="#{quotation.grandTotal}">
									</h:outputText>
								</p:column>

								<p:column>
									<p:commandButton
										oncomplete="PF('select-qt-detail-modal').show('#{component.clientId}')"
										value="เลือกรายการ"
										actionListener="#{purchaseOrderCtl.getQuotationDetail(quotation)}"
										process="@this" update="tab:frm-select-qt-detail">
									</p:commandButton>
								</p:column>
							</p:dataTable>
						</h:form>
					</p:overlayPanel>
					<h:form id="frm-select-qt-detail">
						<p:overlayPanel header="รายการ Quotation"
							widgetVar="select-qt-detail-modal" style="width:500px"
							dismissable="false" showCloseIcon="true">

							<h:panelGrid columns="1">
								<p:commandButton value="ตกลง"
									update="tab:add:dt-podetail,tab:add"
									oncomplete="PF('select-qt-detail-modal').hide()"
									actionListener="#{purchaseOrderCtl.selectQuotationDetail}"
									process="frm-select-qt-detail">
								</p:commandButton>
							</h:panelGrid>
							<p:dataTable paginator="true" paginatorPosition="bottom"
								selection="#{purchaseOrderCtl.listOfSelected}"
								rowKey="#{detail.id}"
								value="#{purchaseOrderCtl.listOfQuotationDetail}" var="detail"
								rowIndexVar="index">
								<p:column headerText="#">
									<h:outputText value="#{index+1}">
									</h:outputText>
								</p:column>

								<p:column headerText="รายละเอียด">
									<h:outputText value="#{detail.description}">

									</h:outputText>
								</p:column>

								<p:column headerText="ราคาต่อหน่อย">
									<h:outputText value="#{detail.unitPrice}">
									</h:outputText>
								</p:column>

								<p:column headerText="จำนวน">
									<h:outputText value="#{detail.quantity}">
									</h:outputText>
								</p:column>
								<p:column selectionMode="multiple"
									style="width:16px;text-align:center" />
							</p:dataTable>
						</p:overlayPanel>
					</h:form>
				</p:tab>
			</p:tabView>
			<br />
			<h:form id="frm-dt">
				<p:dataTable value="#{purchaseOrderCtl.listOfPurchaseOrders}"
					var="po" rowIndexVar="index" id="po-detail">
					<p:column headerText="#">
						<h:outputText value="#{index+1}"></h:outputText>
					</p:column>
					<p:column headerText="เลขที่ PO">
						<h:outputText value="#{po.poNumber}"></h:outputText>
					</p:column>
					<p:column headerText="วันที่เอกสาร">
						<h:outputText value="#{po.docDate}"></h:outputText>
					</p:column>
					<p:column headerText="">
						<p:commandButton process="@this" onclick="PF('tab').select(1)"
							update="tab:add"
							actionListener="#{purchaseOrderCtl.updatePurchaseOrder(po)}"
							icon="fa fa-edit"></p:commandButton>
						<p:commandButton icon="fa fa-trash"
						actionListener="#{purchaseOrderCtl.deletePurchaseOrder(po)}"
						update="frm-dt"
						></p:commandButton>
					</p:column>


				</p:dataTable>
			</h:form>




			<p:overlayPanel widgetVar="selecteCustomer" style="width:800px"
				dismissable="false" showCloseIcon="true">

				<h:form id="form-selecteCustomer">

					<p:dataTable value="#{quotationCtl.listOfCustomer}" var="customer"
						rowIndexVar="index" tableStyle="table-layout: auto;"
						style="text-align:center"
						filteredValue="#{quotationCtl.filteredCustomer}" paginator="true"
						paginatorPosition="bottom" rows="15" id="datatable">
						<p:column headerText="#">
							<h:outputText value="#{index +1}" />
						</p:column>

						<p:column headerText="รหัสลูกค้า"
							filterBy="#{customer.customerCode}" filterMatchMode="contains">
							<h:outputText value="#{customer.customerCode}" />
						</p:column>

						<p:column headerText="ชื่อลูกค้า" filterBy="#{customer.name}"
							filterMatchMode="contains">
							<h:outputText value="#{customer.name}" />
						</p:column>

						<p:column headerText="ชื่อบริษัท"
							filterBy="#{customer.companyName}" filterMatchMode="contains">
							<h:outputText value="#{customer.companyName}" />
						</p:column>

						<p:column>

							<p:commandButton value="เลือก"
								actionListener="#{purchaseOrderCtl.selectCustomer(customer)}"
								process="@this" update="tab:add"
								oncomplete="PF('selecteCustomer').hide()"></p:commandButton>

						</p:column>

					</p:dataTable>


				</h:form>

			</p:overlayPanel>

		</p:panel>
		<script type="text/javascript">
			function clearMessage() {
				$('#msgs').html('');
			}
		</script>

	</ui:define>
</ui:composition>