
<ui:composition template="/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="content">
		<h:body>
			<p:panel id="panel">
				<p:messages autoUpdate="true" closable="true" id="msgs"
					sticky="false"></p:messages>
				<p:tabView widgetVar="tab" id="tabview" onTabChange="clearMessage()">

					<p:tab title="ค้นหาตำแหน่ง">	

						<h:form id="search">

							<h:panelGrid cellpadding="6" columns="5">

								<h:outputLabel for="sname" value="ตำแหน่ง : " />
								<p:inputText id="sname" value="#{positionCtl.sPosition.name}" 
									label="PositionName" placeholder="ชื่อตำแหน่ง" />
										
								<p:commandButton icon="fa fa-search" value="ค้นหา"

									update=":frm-dt" process="search" actionListener="#{positionCtl.search}"></p:commandButton>

								<p:commandButton value="ยกเลิก" update="panel" process="@this"
									icon="fa fa-times-circle" actionListener="#{positionCtl.init}">
									<p:resetInput target="panel" />
								</p:commandButton>

							</h:panelGrid>

						</h:form>


					</p:tab>

					<p:tab title="สร้างตำแหน่ง/แก้ไข">
						<h:form id="add">

							<h:panelGrid columns="6" cellpadding="8">

								<p:outputLabel for="Position" value="ชื่อตำแหน่ง : " />
								<p:inputText id="Position" value="#{positionCtl.position.name}"
									label="ชื่อตำแหน่ง" required="true"
									validatorMessage="กรุณากรอกชื่อตำแหน่ง อย่างน้อย 2 ตัวอักษร "
									requiredMessage="กรุณากรอกชื่อตำแหน่ง" >
									
									<f:validateLength minimum="2" />
								</p:inputText>


								<p:outputLabel for="address" value="คำอธิบาย : " />
								<p:inputTextarea id="address" rows="5" cols="33"
									label="คำอธิบายตำแหน่ง"
									value="#{positionCtl.position.description}" required="false">


								</p:inputTextarea>


							</h:panelGrid>

							<br />
							<br />

							<p:commandButton value="บันทึก" update=":frm-dt:position-dt,add" ajax="true"
								validateClient="true" actionListener="#{positionCtl.save}"
								process="add" icon="fa fa-save"></p:commandButton>
								
							<p:commandButton actionListener="#{positionCtl.init}"
								value="ยกเลิก" update="add, frm-dt:position-dt" process="@this"
								icon="fa fa-times-circle" >
								<p:resetInput target="panel" />
							</p:commandButton>


						</h:form>

					</p:tab>


				</p:tabView>
				<br />

				<h:form id="frm-dt">

					<p:dataTable rowIndexVar="index" tableStyle="table-layout: auto;"
						paginator="true" value="#{positionCtl.listOfPosition}" 
						var="position" paginatorPosition="bottom" rows="15" id="position-dt">

						<p:column headerText="#">
							<h:outputText value="#{index +1 }"></h:outputText>
						</p:column>

						<p:column headerText="ชื่อตำแหน่ง">
							<h:outputText value="#{position.name}"></h:outputText>
						</p:column>

						<p:column headerText="คำอธิบาย">
							<h:outputText value="#{position.description}"></h:outputText>
						</p:column>

						<p:column headerText="">
							<p:commandButton icon="fa fa-edit" ajax="true"
								onclick="PF('tab').select(1)"
								actionListener="#{positionCtl.update(position)}" process="@this"
								update="@(form)">
							</p:commandButton>

							<p:commandButton icon="fa fa-trash" ajax="true"
								actionListener="#{positionCtl.delete(position)}" process="@this"
								update="panel">

							</p:commandButton>


						</p:column>


					</p:dataTable>

				</h:form>

			</p:panel>

			<script type="text/javascript">
				function clearMessage() {
					$('#msgs').html('');
				}
			</script>

		</h:body>

	</ui:define>
</ui:composition>
