<ui:composition template="/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="content">


		<h:body>
			<p:panel id="panel">

				<p:messages autoUpdate="true" closable="true" id="msgs"
					sticky="false"></p:messages>

				<p:tabView onTabChange="clearMessage()" id="tab" widgetVar="tab">

					<p:tab title="ค้นหาใบกำกับราคาสินค้า">
						<h:form id="search">
							<div align="center" style="padding-bottom: 1%">
								<h:panelGrid cellpadding="6" columns="15">

									<p:outputLabel for="sivnumber" value="เลขที่ใบแจ้งหนี้ : " />
									<p:inputText id="sivnumber" placeholder="Ex.IV001"
										value="#{invoiceCtl.sInvoice.invoiceNumber}" />

									<p:outputLabel value="วันนัดชำระ : " for="ssStartDate" />
									<p:calendar id="ssStartDate" effect="slide"
										value="#{invoiceCtl.sInvoice.startDate}"
										placeholder="วันที่นัดชำระ" navigator="true"
										locale="de" pattern="MM/dd/yyyy" />

									<p:outputLabel value="วันที่สิ้นสุด : " for="senddate" />
									<p:calendar id="senddate" effect="slide" 
										value="#{invoiceCtl.sInvoice.endDate}"
										placeholder="วันที่สิ้นสุด" navigator="true"
										locale="de" pattern="MM/dd/yyyy" />

								</h:panelGrid>


								<h:panelGrid cellpadding="4" columns="10">
									<p:commandButton icon="fa fa-search" value="ค้นหา"
										actionListener="#{invoiceCtl.searchInvoice}" update=":frm-dt"
										process="search"></p:commandButton>

									<p:commandButton value="ยกเลิก" update="panel" process="@this"
										actionListener="#{invoiceCtl.init}" icon="fa fa-times-circle">
										<p:resetInput target="panel" />
									</p:commandButton>
								</h:panelGrid>
							</div>


						</h:form>
					</p:tab>

					<p:tab title="สร้างใบกำกับราคาสินค้า">
						<h:form id="add">

							<h:panelGrid columns="4" cellpadding="5">

								<p:outputLabel for="ivnumber" value="เลขที่ใบแจ้งหนี้ : " />
								<p:inputText id="ivnumber"
									value="#{invoiceCtl.invoice.invoiceNumber}" required="true"
									requiredMessage="กรูณาระบุเลขที่ใบแจ้งหนี้" placeholder="Ex.IV001" />

								<p:outputLabel value="วันนัดชำระ : " for="sStartDate" />
								<p:calendar id="sStartDate" effect="slide" required="true"
									value="#{invoiceCtl.invoice.dueDate}" 
									requiredMessage="กรุณาระบุวันนัดชำระ"
									placeholder="วันที่นัดชำระ" maxdate="#{now}" navigator="true"
									locale="de" pattern="MM/dd/yyyy" />

								<p:outputLabel value="วันที่เริ่มต้น : " for="startdate" />
								<p:calendar id="startdate" effect="slide" required="true"
									value="#{invoiceCtl.invoice.startDate}"
									requiredMessage="กรุณาระบุวันที่เริ่มต้น"
									placeholder="วันที่เริ่มต้น" maxdate="#{now}" navigator="true"
									locale="de" pattern="MM/dd/yyyy" />

								<p:outputLabel value="วันที่สิ้นสุด : " for="enddate" />
								<p:calendar id="enddate" effect="slide" required="true"
									requiredMessage="กรุณาระบุวันที่สิ้นสุด"
									value="#{invoiceCtl.invoice.endDate}"
									placeholder="วันที่สิ้นสุด" maxdate="#{now}" navigator="true"
									locale="de" pattern="MM/dd/yyyy" />


							</h:panelGrid>
							<br />
							<br />
							<h:panelGrid columns="5" cellpadding="5">
								<p:outputLabel for="ponumber" value="เลขที่ใบสั่งซื้อสินค้า"></p:outputLabel>
								<p:inputText id="ponumber" disabled="true"
									value="#{invoiceCtl.invoice.purchaseOrder.poNumber}"></p:inputText>
								
								<p:outputLabel for="pocus" value="บริษัท"></p:outputLabel>
								<p:inputText id="pocus" disabled="true"
									value="#{invoiceCtl.invoice.purchaseOrder.customer.companyName}"></p:inputText>
									
									
								<p:commandButton value="เลือก PurchaseOrder" process="@this"
									actionListener="#{invoiceCtl.init}" update="add"
									onclick="PF('select-po-dialog').show('#{component.clientId}')"></p:commandButton>
							</h:panelGrid>



							<h:panelGrid columns="1">
								<p:commandButton value="เพิ่มรายการ Invoice" process="@this"
									id="btn-add-invoice-detail"
									actionListener="#{invoiceCtl.validationCustomerSelected}"
									update="frm-select-podetail"
									oncomplete="if(#{invoiceCtl.selectPurchaseOrder}){PF('select-podetail-dialog').show('#{component.clientId}')}"></p:commandButton>

							</h:panelGrid>
							<p:dataTable value="#{invoiceCtl.listOfInvoiceDetail}"
								id="ivd-dt"
								rowIndexVar="index" tableStyle="table-layout: auto;"
								style="text-align:center" var="ivd">
								<p:column headerText="#">
									<h:outputText value="#{index +1}"></h:outputText>
								</p:column>

								<p:column headerText="ชื่อโปรเจ็ค">
									<p:inputText value="#{ivd.projectName}"></p:inputText>
								</p:column>

								<p:column headerText="รายละเอียด">
									<p:inputText value="#{ivd.description}"></p:inputText>
								</p:column>

								<p:column headerText="ราคาต่อหน่วย">
									<p:inputText value="#{ivd.unitPrice}"></p:inputText>
								</p:column>

								<p:column headerText="จำนวน">
									<p:inputText value="#{ivd.quantity}"></p:inputText>
								</p:column>

								<p:column headerText="จำนวนเงิน">
									<p:inputText value="#{ivd.amount}"></p:inputText>
								</p:column>

								<p:column>
									<p:commandButton icon="fa fa-trash" 
										actionListener="#{invoiceCtl.deleteInvoiceDetail(ivd)}"
										process="@this" update="tab:add:ivd-dt"></p:commandButton>
								</p:column>

							</p:dataTable>
							<br />
							<h:panelGrid columns="4" cellpadding="5" id="panel-cal">

								<h:outputLabel for="total" value="จำนวนเงินรวม : " />
								<p:inputText id="total" value="#{invoiceCtl.invoice.total}"
									required="true"
									requiredMessage="กรุณาเพิ่มรายการ Invoice และกดปุ่มคำนวณอัตโนมัติ" 
									placeholder="จำนวนเงินรวม"/>

								<h:outputLabel for="vat" value="ภาษี : " />
								<p:inputText id="vat" value="#{invoiceCtl.invoice.vat}"
									required="true" placeholder="ภาษี"
									requiredMessage="กรุณาเพิ่มรายการ Invoice และกดปุ่มคำนวณอัตโนมัติ"/>

								<h:outputLabel for="grandtotal" value="จำนวนเงินสุทธิ : " />
								<p:inputText id="grandtotal" placeholder="จำนวนเงินสุทธิ"
									value="#{invoiceCtl.invoice.grandTotal}" required="true" 
									requiredMessage="กรุณาเพิ่มรายการ Invoice และกดปุ่มคำนวณอัตโนมัติ"/>
							</h:panelGrid>
							<br />
							<br />
							<h:panelGrid columns="3" cellpadding="5">
								<p:commandButton value="คำณวนอัตโนมัติ" process="tab:add"
									update="tab:add"
									actionListener="#{invoiceCtl.automatedCalculateInvoice}"></p:commandButton>

								<p:commandButton value="บันทึก" process="tab:add"
									update="tab:add,frm-dt"
									actionListener="#{invoiceCtl.saveInvoice}"></p:commandButton>

								<p:commandButton value="ยกเลิก" update="tab:add,:frm-dt"
									process="@this" actionListener="#{invoiceCtl.init}">
									<p:resetInput target="add,:frm-dt" />
								</p:commandButton>

							</h:panelGrid>


						</h:form>
					</p:tab>
				</p:tabView>

				<h:form id="frm-dt">
					<p:dataTable tableStyle="table-layout: auto;" paginator="true"
						value="#{invoiceCtl.listOfInvoice}" var="iv" rowIndexVar="index"
						style="text-align:center" paginatorPosition="bottom" rows="10">

						<p:column headerText="#">
							<h:outputText value="#{index+1}"></h:outputText>
						</p:column>

						<p:column headerText="เลขที่ใบกำกับราคาสินค้า ">
							<h:outputText value="#{iv.invoiceNumber}"></h:outputText>
						</p:column>
						<p:column headerText="บริษัท">
							<h:outputText value="#{iv.purchaseOrder.customer.companyName}"></h:outputText>
						</p:column>

						<p:column headerText="จำนวนเงิน">
							<h:outputText value="#{iv.total}"></h:outputText>
						</p:column>

						<p:column headerText="ภาษี">
							<h:outputText value="#{iv.vat}"></h:outputText>
						</p:column>

						<p:column headerText="ยอดรวมสุธิ">
							<h:outputText value="#{iv.grandTotal}"></h:outputText>
						</p:column>

						<p:column>
							<p:commandButton icon="fa fa-edit"
								actionListener="#{invoiceCtl.updateInvoice(iv)}"
								update="tab:add" onclick="PF('tab').select(1)" process="@this"></p:commandButton>

							<p:commandButton icon="fa fa-trash"
								actionListener="#{invoiceCtl.deleteInvoice(iv)}" update="frm-dt"
								process="@this"></p:commandButton>
						</p:column>

					</p:dataTable>
				</h:form>

			</p:panel>

			<h:form id="frm-select-po">
				<p:overlayPanel widgetVar="select-po-dialog" style="width:600px"
					dismissable="false" showCloseIcon="true">
					<p:dataTable value="#{invoiceCtl.listOfPurchaseOrder}" var="po"
						filteredValue="#{invoiceCtl.listOfPurchaseOrderFilltered}"
						rowIndexVar="index" style="text-align:center" paginator="true"
						paginatorPosition="bottom" rows="15">

						<p:column headerText="#">
							<h:outputText value="#{index+1}"></h:outputText>
						</p:column>

						<p:column headerText="Po-Number" filterBy="#{po.poNumber}"
							filterMatchMode="contains">
							<h:outputText value="#{po.poNumber}"></h:outputText>
						</p:column>

						<p:column headerText="Company-Name" filterBy="#{po.customer.name}"
							filterMatchMode="contains">
							<h:outputText value="#{po.customer.companyName}"></h:outputText>
						</p:column>

						<p:column headerText="Total" filterBy="#{po.poNumber}"
							filterMatchMode="contains">
							<h:outputText value="#{po.total}"></h:outputText>
						</p:column>


						<p:column>
							<p:commandButton value="เลือก"
								actionListener="#{invoiceCtl.selectPurchaseOrder(po)}"
								process="@this" update=":frm-select-podetail,tab:add"
								oncomplete="PF('select-po-dialog').hide()"></p:commandButton>
						</p:column>


					</p:dataTable>
				</p:overlayPanel>
			</h:form>

			<h:form id="frm-select-podetail">
				<p:overlayPanel widgetVar="select-podetail-dialog"
					style="width:700px" dismissable="false" showCloseIcon="true">
					<p:commandButton value="ตกลง" process="frm-select-podetail"
						update="tab:add:ivd-dt,tab:add:panel-cal"
						actionListener="#{invoiceCtl.selectPurchaseOrderDetail}"
						oncomplete="PF('select-podetail-dialog').hide()"></p:commandButton>
					<p:dataTable rowIndexVar="index" var="pod"
						tableStyle="table-layout: auto;" style="text-align:center"
						value="#{invoiceCtl.invoice.purchaseOrder.purchaseOrderDetails}"
						rowKey="#{pod.id}"
						selection="#{invoiceCtl.listOfSelectedOrderDetail}">
						<p:column headerText="#">
							<h:outputText value="#{index+1}"></h:outputText>
						</p:column>

						<p:column headerText="projectName">
							<h:outputText value="#{pod.projectName}"></h:outputText>
						</p:column>

						<p:column headerText="description">
							<h:outputText value="#{pod.description}"></h:outputText>
						</p:column>

						<p:column headerText="unitPrice">
							<h:outputText value="#{pod.unitPrice}"></h:outputText>
						</p:column>

						<p:column headerText="quantity">
							<h:outputText value="#{pod.quantity}"></h:outputText>
						</p:column>

						<p:column headerText="amount">
							<h:outputText value="#{pod.amount}"></h:outputText>
						</p:column>

						<p:column selectionMode="multiple"
							style="width:16px;text-align:center" />

					</p:dataTable>
				</p:overlayPanel>
			</h:form>

			<script type="text/javascript">
				function clearMessage() {
					$('#msgs').html('');
				}
			</script>
		</h:body>
	</ui:define>
</ui:composition>
