<ui:composition template="/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<ui:define name="content">

		<h:body>

			<p:panel id="panel">
				<p:messages autoUpdate="true" closable="true" id="msgs"
					sticky="false"></p:messages>

				<p:tabView onTabChange="clearMessage()" widgetVar="tab" id="tabview">

					<p:tab title="ค้นหาข้อมูลลูกค้า">

						<h:form id="search">

							<h:panelGrid cellpadding="6" columns="6">

								<h:outputLabel for="scus" value="ชื่อลูกค้า : " />
								<p:inputText id="scus" value="#{customerCtl.sCustomer.name}"
									label="ชื่อ" placeholder="ชื่อลูกค้า" />

								<h:outputLabel for="sCustomerCompany" value="บริษัท : " />
								<p:inputText id="sCustomerCompany" placeholder="บริษัท"
									value="#{customerCtl.sCustomer.companyName}" />

								<p:commandButton icon="fa fa-search" value="ค้นหา"
									actionListener="#{customerCtl.search}" update="panel"
									process="search"></p:commandButton>

								<p:commandButton actionListener="#{customerCtl.init}"
									value="ยกเลิก" update="panel " process="@this"
									icon="fa fa-times-circle" >
									
								</p:commandButton>

							</h:panelGrid>

						</h:form>


					</p:tab>

					<p:tab title="ส้รางข้อมูลลูกค้า">
						<h:form id="add">

								

							<h:panelGrid columns="6" cellpadding="8">

								<p:outputLabel for="customer_code" value="รหัสลูกค้า : " />
								<p:inputText id="customer_code" 
									value="#{customerCtl.customer.customerCode}"
									required="true" label="รหัสลูกค้า"
									validatorMessage="กรุณากรอกชื่อลูกค้าอย่างน้อย 2 ตัวอักษร"
									requiredMessage="กรุณาใส่ข้อมูลรหัสลูกค้า"
									placeholder="รหัสลูกค้า">

									<f:validateLength minimum="2" maximum="30" />
								</p:inputText>

								<p:outputLabel for="firstname" value="ชื่อลูกค้า : " />
								<p:inputText id="firstname" value="#{customerCtl.customer.name}"
									required="true" label="ชื่อลูกค้า"
									validatorMessage="กรุณากรอกชื่อลูกค้าอย่างน้อย 2 ตัวอักษร"
									requiredMessage="กรุณาใส่ข้อมูลชื่อลูกค้า"
									placeholder="ชื่อลูกค้า">

									<f:validateLength minimum="2" maximum="30" />
								</p:inputText>

								<p:outputLabel for="lastname" value="นามสกุลลูกค้า : " />
								<p:inputText id="lastname"
									value="#{customerCtl.customer.lastName}" required="true"
									label="นามสกุลลูกค้า"
									validatorMessage="กรุณากรอกนามสกุลลูกค้าอย่างน้อย 2 ตัวอักษร"
									requiredMessage="กรุณาใส่ข้อมูลนามสกุลลูกค้า"
									placeholder="นามสกุลลูกค้า">

									<f:validateLength minimum="1" maximum="30" />
								</p:inputText>

								<p:outputLabel for="company" value="ชื่อบริษัท : " />
								<p:inputText id="company"
									value="#{customerCtl.customer.companyName}" required="true"
									label="ชื่อบริษัท"
									validatorMessage="กรุณากรอกชื่อบริษัทย่างน้อย 2 ตัวอักษร"
									requiredMessage="กรุณาใส่ข้อมูลบริษัท"
									placeholder="ชื่อบริษัท">

									<f:validateLength minimum="1" />
								</p:inputText>


								<p:outputLabel for="branch" value="ชื่อสาขา : " />
								<p:inputText id="branch" value="#{customerCtl.customer.branch}"
									required="true" label="ชื่อสาขา"
									validatorMessage="กรุณากรอกชื่อสาขาอย่างน้อย 2 ตัวอักษร"
									requiredMessage="กรุณาใส่ชื่อสาขา"
									placeholder="ชื่อสาขา">

									<f:validateLength minimum="1" maximum="30" />
								</p:inputText>


								<p:outputLabel for="address" value="ที่อยู่ : " />
								<p:inputTextarea id="address"
									value="#{customerCtl.customer.address}" required="true"
									label="ที่อยู่"
									validatorMessage="กรุณากรอกที่อยู่อย่างน้อย 2 ตัวอักษร"
									requiredMessage="กรุณาใส่ที่อยู่">
									<f:validateLength minimum="1" />
								</p:inputTextarea>

								<p:outputLabel for="telmobile" value="เบอร์โทรศัพท์มือถือ : " />
								<p:inputMask id="telmobile"
									value="#{customerCtl.customer.telMobileNumber}" required="true"
									label="เบอร์โทรศัพท์มือถือ" mask="999-999-9999"
									validatorMessage="กรุณากรอกเบอร์โทรศัพท์มือถือ"
									requiredMessage="กรุณากรอกเบอร์โทรศัพท์มือถือ"
									placeholder="เบอร์โทรศัพท์มือถือ">

									<f:validateLength minimum="10" maximum="12" />
								</p:inputMask>


								<p:outputLabel for="telcompany" value="เบอร์โทรศัพท์บริษัท : " />
								<p:inputText id="telcompany"
									value="#{customerCtl.customer.telCompanyNumber}"
									required="true" label="เบอร์โทรศัพท์บริษัท"
									validatorMessage="กรุณากรอกเบอร์โทรศัพท์บริษัท"
									requiredMessage="กรุณากรอกเบอร์โทรศัพท์บริษัท"
									
									placeholder="เบอร์โทรศัพท์บริษัท">

									<f:validateLength minimum="8" maximum="10" />
								</p:inputText>

								<p:outputLabel for="faxnumber"
									value="เบอร์โทรสาร/เบอร์แฟกซ์  : " />
								<p:inputText id="faxnumber" onkeypress="CheckNum()"
									value="#{customerCtl.customer.faxNumber}"
									label="เบอร์โทรสาร/เบอร์แฟกซ์ "
									validatorMessage="กรุณากรอกเบอร์โทรสาร/เบอร์แฟกซ์  10-13 ตัวอักษร"
									placeholder="เบอร์โทรสาร/เบอร์แฟกซ์" >
									
									<f:validateLength minimum="10" maximum="13" />
								</p:inputText>


								<p:outputLabel for="taxid" value="เลขประตัวผู้เสียภาษีของลูกค้า :" />
								<p:inputText id="taxid" value="#{customerCtl.customer.taxId}"
									label="เลขประตัวผู้เสียภาษีของลูกค้า"  
									onkeypress="javascript:return isNumber (event)" 
									validatorMessage="กรุณากรอกเลขประตัวผู้เสียภาษี(ลูกค้า) 10-13 ตัวอักษร"
									placeholder="เลขประตัวผู้เสียภาษีของลูกค้า">

									<f:validateLength minimum="10" maximum="13" />
									
								</p:inputText>

							</h:panelGrid>
			

							<p:commandButton value="บันทึก" update="add" ajax="true"
								validateClient="true" actionListener="#{customerCtl.save}"
								process="add" icon="fa fa-save"></p:commandButton>

							<p:commandButton actionListener="#{customerCtl.init}"
								value="ยกเลิก" update="add, fr-data-customer:data-customer" process="@this"
								icon="fa fa-times-circle">
								<p:resetInput target="panel" />
							</p:commandButton>


					<pe:keyFilter for="taxid,faxnumber,telcompany,telmobile" mask="num"/>

						</h:form>

					</p:tab>


				</p:tabView>
				<br />

				<h:form id="fr-data-customer">

					<p:dataTable id="data-customer" value="#{customerCtl.listOfCustomer}" var="customer"
						rowIndexVar="index" tableStyle="table-layout: auto;" 
						paginator="true" paginatorPosition="bottom" rows="15">
						<p:column headerText="#">
							<h:outputText value="#{index +1 }" />
						</p:column>
						
						<p:column headerText="รหัสลูกค้า">
							<h:outputText value="#{customer.customerCode}" />
						</p:column>

						<p:column headerText="ชื่อลูกค้า">
							<h:outputText value="#{customer.name}" />
						</p:column>

						<p:column headerText="ชื่อบริษัท">
							<h:outputText value="#{customer.companyName}" />
						</p:column>

						<p:column>
							<p:commandButton icon="fa fa-edit" ajax="true"
								onclick="PF('tab').select(1)"
								actionListener="#{customerCtl.update(customer)}" process="@this"
								update="@(form)">
							</p:commandButton>


							<p:commandButton icon="fa fa-trash" ajax="true"
								actionListener="#{customerCtl.delete(customer)}" process="@this"
								update="@(form)"></p:commandButton>
						</p:column>

					</p:dataTable>

				</h:form>


			</p:panel>

			<script type="text/javascript">
				function clearMessage() {
					$('#msgs').html('');
				}
			</script>

		</h:body>

	</ui:define>
</ui:composition>