
<ui:composition template="/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<ui:define name="content">
		<h:body>
			<p:panel id="panel">
				<p:tabView onTabChange="clearMessage()" widgetVar="tab" id="tab">

					<p:tab title="ค้นหา">
						<h:form id="search">
							<h:panelGrid cellpadding="4" columns="5">

								<h:outputLabel for="customerPaymentName"
									value="วิธีชำระเงิน : " />
								<p:inputText id="customerPaymentName"
									value="#{customerPaymentCtl.sCustomerPayment.customerPaymentName}"
									placeholder="Ex.cash" />

								<p:commandButton icon="fa fa-search" value="ค้นหา"
									actionListener="#{customerPaymentCtl.search}" update="panel"
									process="search"></p:commandButton>

								<p:commandButton actionListener="#{customerPaymentCtl.init}"
									value="ยกเลิก" update="search " process="@this"
									icon="fa fa-times-circle">

								</p:commandButton>

							</h:panelGrid>

						</h:form>
					</p:tab>

					<p:tab title="เลือกวิธีการชำระเงิน">

						<h:form id="add" target="add">

							<p:messages autoUpdate="true" closable="true" id="msgs"
								sticky="false"></p:messages>

							<h:panelGroup>
								<p:outputLabel for="taxReceiptNumber" value="เลขที่ใบกำกับภาษี :  " />
								<p:inputText id="taxReceiptNumber" disabled="true"
									required="#{customerPaymentCtl.customerPayment.taxReceipt.taxReceiptNumber == 'null'}"
									value="#{customerPaymentCtl.customerPayment.taxReceipt.taxReceiptNumber}" 
									requiredMessage="กรุณาเลือกใบกำกับภาษี"
									placeholder="เลขที่ใบกำกับภาษี">
									
								</p:inputText>
								
								<p:commandButton icon="fa fa-search"
									onclick="PF('selecteTaxReceipt').show('#{component.clientId}')"
									dismissable="false" showCloseIcon="true" process="@this"
									update="taxReceiptNumber">
								</p:commandButton>


							</h:panelGroup>

							<p:selectOneRadio id="customRadio" layout="custom" 
								value="#{customerPaymentCtl.customerPayment.customerPaymentName}">
								<f:selectItem itemLabel="Cash" itemValue="cash" />
								<f:selectItem itemLabel="Transfer" itemValue="transfer" />
								<f:selectItem itemLabel="Check" itemValue="check" />

								<f:ajax
									render="cash-amount cash-why cash-account_Date transfer-amount 
								transfer-fee transfer-why transfer-account_Date check-amount check-bank
								check-why check-check_No check-check_Date check-check_Deposit_Date 
								check-check_Deposit_Balance check-check_Deposit_Account check-Account_Date" />
							</p:selectOneRadio>

							<h:panelGrid columns="2" cellpadding="5">
								<h:panelGroup>

									<p:radioButton id="cash" for="customRadio" itemIndex="0"  >
										<h:outputLabel for="cash" value="  Cash (เงินสด)" />
									</p:radioButton>
									<h:panelGrid columns="2" cellpadding="5">


										<p:outputLabel value="จำนวนเงิน : " for="cash-amount " />
										<p:inputText id="cash-amount"
											required="#{customerPaymentCtl.customerPayment.customerPaymentName == 'cash'}"
											disabled="#{customerPaymentCtl.customerPayment.customerPaymentName != 'cash'}"
											readonly="#{customerPaymentCtl.customerPayment.customerPaymentName != 'cash'}"
											value="#{customerPaymentCtl.customerPaymentCash.amount}"
											requiredMessage="กรุณาระบุจำนวนเงิน"
											validatorMessage="กรุณาระบุจำนวนเงินที่ไม่ติดลบ หรือเกิน 9,223,372,036,854,775,807"
											placeholder="จำนวนเงิน">	
										<f:validateDoubleRange minimum="0" maximum="9223372036854775807"  />
										</p:inputText>

										<p:outputLabel for="cash-why" value="หักภาษี ณ ที่จ่าย : " />
										<p:inputText id="cash-why"
											required="#{customerPaymentCtl.customerPayment.customerPaymentName == 'cash'}"
											disabled="#{customerPaymentCtl.customerPayment.customerPaymentName != 'cash'}"
											readonly="#{customerPaymentCtl.customerPayment.customerPaymentName != 'cash'}"
											value="#{customerPaymentCtl.customerPaymentCash.withHoldingTax}"
											requiredMessage="กรุณาระบุจำนวนเงินค่าหักภาษี ณ ที่จ่าย" 
											validatorMessage="กรุณาระบุจำนวนเงินค่าหักภาษี ณ ที่จ่ายที่ไม่ติดลบ หรือเกิน 9,223,372,036,854,775,807"
											placeholder="หักภาษี ณ ที่จ่าย">	
										<f:validateDoubleRange minimum="0" maximum="9223372036854775807" />
										</p:inputText>

										<p:outputLabel for="cash-account_Date" value="วันที่เงินเข้า : " />
										<p:calendar id="cash-account_Date" 
											required="#{customerPaymentCtl.customerPayment.customerPaymentName == 'cash'}"
											maxdate="#{now}" navigator="true" locale="de" pattern="MM/dd/yyyy" 
											disabled="#{customerPaymentCtl.customerPayment.customerPaymentName != 'cash'}"
											readonly="#{customerPaymentCtl.customerPayment.customerPaymentName != 'cash'}"
											value="#{customerPaymentCtl.customerPaymentCash.accountDate}"
											requiredMessage="กรุณาระบุวันที่เงินเข้าบัญชี"
											converterMessage="กรุณาระบุวันที่เงินเข้า ในรูปแบบ MM/dd/yyyy" 
											placeholder="วันที่เงินเข้า"/>


									</h:panelGrid>
								</h:panelGroup>

								<h:panelGroup>
									<p:radioButton id="transfer" for="customRadio" itemIndex="1" />
									<h:outputLabel for="transfer" value="  	Transfer (โอน)" />

									<h:panelGrid columns="2" cellpadding="5">
										<p:outputLabel for="transfer-amount" value="จำนวนเงิน : " />
										<p:inputText id="transfer-amount"
											required="#{customerPaymentCtl.customerPayment.customerPaymentName == 'transfer'}"
											disabled="#{customerPaymentCtl.customerPayment.customerPaymentName != 'transfer'}"
											readonly="#{customerPaymentCtl.customerPayment.customerPaymentName != 'transfer'}"
											value="#{customerPaymentCtl.customerPaymentTransfer.amount}"
											requiredMessage="กรุณาระบุจำนวนเงิน"
											validatorMessage="กรุณาระบุจำนวนเงินที่ไม่ติดลบ หรือเกิน 9,223,372,036,854,775,807"
											placeholder="จำนวนเงิน">	
										<f:validateDoubleRange minimum="0" maximum="9223372036854775807" />
										</p:inputText>

										<p:outputLabel for="transfer-fee" value="ค่าธรรมเนียม : " />
										<p:inputText id="transfer-fee"
											required="#{customerPaymentCtl.customerPayment.customerPaymentName == 'transfer'}"
											disabled="#{customerPaymentCtl.customerPayment.customerPaymentName != 'transfer'}"
											readonly="#{customerPaymentCtl.customerPayment.customerPaymentName != 'transfer'}"
											value="#{customerPaymentCtl.customerPaymentTransfer.fee}"
											requiredMessage="กรุณาระบุจำนวนเงินค่าธรรมเนียม" 
											validatorMessage="กรุณาระบุจำนวนเงินค่าธรรมเนียมที่ไม่ติดลบ หรือเกิน 9,223,372,036,854,775,807 "
											placeholder="ค่าธรรมเนียม">	
										<f:validateDoubleRange minimum="0" maximum="9223372036854775807" />
										</p:inputText>

										<p:outputLabel for="transfer-why" value="หักภาษี ณ ที่จ่าย : " />
										<p:inputText id="transfer-why"
											required="#{customerPaymentCtl.customerPayment.customerPaymentName == 'transfer'}"
											disabled="#{customerPaymentCtl.customerPayment.customerPaymentName != 'transfer'}"
											readonly="#{customerPaymentCtl.customerPayment.customerPaymentName != 'transfer'}"
											value="#{customerPaymentCtl.customerPaymentTransfer.withHoldingTax}" 
											requiredMessage="กรุณาระบุจำนวนเงินค่าหักภาษี ณ ที่จ่าย"
											validatorMessage="กรุณาระบุจำนวนเงินค่าหักภาษี ณ ที่จ่ายที่ไม่ติดลบ หรือเกิน 9,223,372,036,854,775,807"
											placeholder="หักภาษี ณ ที่จ่าย">	
										<f:validateDoubleRange minimum="0" maximum="9223372036854775807"  />
										</p:inputText>

										<p:outputLabel for="transfer-account_Date"
											value="วันที่เงินเข้า : " />
										<p:calendar id="transfer-account_Date"
											required="#{customerPaymentCtl.customerPayment.customerPaymentName == 'transfer'}"
											maxdate="#{now}" navigator="true" locale="de" pattern="MM/dd/yyyy" 
											disabled="#{customerPaymentCtl.customerPayment.customerPaymentName != 'transfer'}"
											readonly="#{customerPaymentCtl.customerPayment.customerPaymentName != 'transfer'}"
											value="#{customerPaymentCtl.customerPaymentTransfer.accountDate}" 
											requiredMessage="กรุณาระบุวันที่เงินเข้าบัญชี"
											converterMessage="กรุณาระบุวันที่ ในรูปแบบ MM/dd/yyyy"
											placeholder="วันที่เงินเข้า"/>
									</h:panelGrid>
								</h:panelGroup>

								<h:panelGroup>

									<p:radioButton id="check" for="customRadio" itemIndex="2" />
									<h:outputLabel for="check" value="  Check (เช็ค)" />

									<h:panelGrid columns="4" cellpadding="10">

										<p:outputLabel for="check-amount" value="จำนวนเงิน " />
										<p:inputText id="check-amount"
											required="#{customerPaymentCtl.customerPayment.customerPaymentName == 'check'}"
											disabled="#{customerPaymentCtl.customerPayment.customerPaymentName != 'check'}"
											readonly="#{customerPaymentCtl.customerPayment.customerPaymentName != 'check'}"
											value="#{customerPaymentCtl.customerPaymentCheck.amount}"
											requiredMessage="กรุณาระบุจำนวนเงิน" 
											validatorMessage="กรุณาระบุจำนวนเงินที่ไม่ติดลบ หรือเกิน 9,223,372,036,854,775,807"
											placeholder="จำนวนเงิน">	
										<f:validateDoubleRange minimum="0" maximum="9223372036854775807" />
										</p:inputText>

										<p:outputLabel for="check-bank" value="ธนาคาร " />
										<p:inputText id="check-bank"
											required="#{customerPaymentCtl.customerPayment.customerPaymentName == 'check'}"
											disabled="#{customerPaymentCtl.customerPayment.customerPaymentName != 'check'}"
											readonly="#{customerPaymentCtl.customerPayment.customerPaymentName != 'check'}"
											value="#{customerPaymentCtl.customerPaymentCheck.bank}"  
											requiredMessage="กรุณาระบุชื่อธนาคาร"
											placeholder="ธนาคาร"/>	

										<p:outputLabel for="check-why" value="หักภาษี ณ ที่จ่าย " />
										<p:inputText id="check-why"
											required="#{customerPaymentCtl.customerPayment.customerPaymentName == 'check'}"
											disabled="#{customerPaymentCtl.customerPayment.customerPaymentName != 'check'}"
											readonly="#{customerPaymentCtl.customerPayment.customerPaymentName != 'check'}"
											value="#{customerPaymentCtl.customerPaymentCheck.withHoldingTax}" 
											requiredMessage="กรุณาระบุจำนวนเงินค่าหักภาษี ณ ที่จ่าย"
											validatorMessage="กรุณาระบุจำนวนเงินค่าหักภาษี ณ ที่จ่ายที่ไม่ติดลบ  หรือเกิน 9,223,372,036,854,775,807"
											placeholder="หักภาษี ณ ที่จ่าย">	
										<f:validateDoubleRange minimum="0" maximum="9223372036854775807" />
										</p:inputText>

										<p:outputLabel for="check-check_No" value="เลขเช็ค " />
										<p:inputText id="check-check_No"
											required="#{customerPaymentCtl.customerPayment.customerPaymentName == 'check'}"
											disabled="#{customerPaymentCtl.customerPayment.customerPaymentName != 'check'}"
											readonly="#{customerPaymentCtl.customerPayment.customerPaymentName != 'check'}"
											value="#{customerPaymentCtl.customerPaymentCheck.chcekNo}"
											requiredMessage="กรุณาระบุหมายเลขเช็ค"
											placeholder="เลขเช็ค"
											validatorMessage="กรุณาระบุหมายเลขเช็ค 7 หลัก">	
											
										<f:validateLength minimum="7" />
										</p:inputText>

										<p:outputLabel for="check-check_Date" value="วันที่เช็ค " />
										<p:calendar id="check-check_Date" 
											required="#{customerPaymentCtl.customerPayment.customerPaymentName == 'check'}"
											maxdate="#{now}" navigator="true" locale="de" pattern="MM/dd/yyyy" 
											disabled="#{customerPaymentCtl.customerPayment.customerPaymentName != 'check'}"
											readonly="#{customerPaymentCtl.customerPayment.customerPaymentName != 'check'}"
											value="#{customerPaymentCtl.customerPaymentCheck.checkDate}" 
											requiredMessage="กรุณาระบุวันที่เช็ค"
											converterMessage="กรุณาระบุวันที่เช็ค ในรูปแบบ MM/dd/yyyy"
											placeholder="วันที่เช็ค"/>

										<p:outputLabel for="check-check_Deposit_Date"
											value="กำหนดวันที่เงินจะเข้า " />
										<p:calendar id="check-check_Deposit_Date"
											required="#{customerPaymentCtl.customerPayment.customerPaymentName == 'check'}"
											maxdate="#{now}" navigator="true" locale="de" pattern="MM/dd/yyyy" 
											disabled="#{customerPaymentCtl.customerPayment.customerPaymentName != 'check'}"
											readonly="#{customerPaymentCtl.customerPayment.customerPaymentName != 'check'}"
											value="#{customerPaymentCtl.customerPaymentCheck.depositDate}" 
											requiredMessage="กรุณาระบุกำหนดวันที่เงินจะเข้า"
											converterMessage="กรุณาระบุกำหนดวันที่เงินจะเข้า ในรูปแบบ MM/dd/yyyy"
											placeholder="กำหนดวันที่เงินจะเข้า"/>

										<p:outputLabel for="check-check_Deposit_Balance"
											value="จำนวนเงินเข้า " />
										<p:inputText id="check-check_Deposit_Balance"
											required="#{customerPaymentCtl.customerPayment.customerPaymentName == 'check'}"
											disabled="#{customerPaymentCtl.customerPayment.customerPaymentName != 'check'}"
											readonly="#{customerPaymentCtl.customerPayment.customerPaymentName != 'check'}"
											value="#{customerPaymentCtl.customerPaymentCheck.depositBalance}"
											requiredMessage="กรุณาระบุจำนวนเงินเข้า" 
											validatorMessage="กรุณาระบุจำนวนเงินเข้าที่ไม่ติดลบ หรือเกิน 9,223,372,036,854,775,807"
											placeholder="จำนวนเงินเข้า">	
										<f:validateDoubleRange minimum="0" maximum="9223372036854775807" />
										</p:inputText>

										<p:outputLabel for="check-check_Deposit_Account"
											value="เลขบัญชีผู้โอน" />
										<p:inputText id="check-check_Deposit_Account"
											required="#{customerPaymentCtl.customerPayment.customerPaymentName == 'check'}"
											disabled="#{customerPaymentCtl.customerPayment.customerPaymentName != 'check'}"
											readonly="#{customerPaymentCtl.customerPayment.customerPaymentName != 'check'}"
											value="#{customerPaymentCtl.customerPaymentCheck.depositAccount}" 
											requiredMessage="กรุณาระบุหมายเลขบัญชีผู้โอน"
											placeholder="เลขบัญชีผู้โอน"
											validatorMessage="กรุณาระบุหมายเลขบัญชีผู้โอน 10 - 15 หลัก">	
										<f:validateLength  minimum="10" maximum="15" />
										</p:inputText>

										<p:outputLabel for="check-Account_Date" value="วันที่เงินเข้าบัญชี " />
										<p:calendar id="check-Account_Date"
											required="#{customerPaymentCtl.customerPayment.customerPaymentName == 'check'}"
											maxdate="#{now}" navigator="true" locale="de" pattern="MM/dd/yyyy" 
											disabled="#{customerPaymentCtl.customerPayment.customerPaymentName != 'check'}"
											readonly="#{customerPaymentCtl.customerPayment.customerPaymentName != 'check'}"
											value="#{customerPaymentCtl.customerPaymentCheck.accountDate}" 
											requiredMessage="กรุณาระบุวันที่เงินเข้าบัญชี"
											converterMessage="กรุณาระบุวันที่เงินเข้าบัญชี ในรูปแบบ MM/dd/yyyy"
											placeholder="วันที่เงินเข้าบัญชี"/>

									</h:panelGrid>
								</h:panelGroup>

							</h:panelGrid>


							<p:commandButton value="บันทึก" update="add, fm-dataTableCMPM"
								ajax="true" validateClient="true"
								actionListener="#{customerPaymentCtl.save}" process="add"
								icon="fa fa-save"></p:commandButton>

							<p:commandButton actionListener="#{customerPaymentCtl.init}"
								value="ยกเลิก" update="add, fm-dataTableCMPM:dataTableCMPM" process="@this"
								icon="fa fa-times-circle">
								<p:resetInput target="panel" />
							</p:commandButton>

							<pe:keyFilter
								for="cash-amount, cash-why, transfer-amount, transfer-fee
						, transfer-why, check-amount, check-why, check-check_No, 
						check-check_Deposit_Balance, check-check_Deposit_Account"
								mask="num" />

						</h:form>

						<p:overlayPanel widgetVar="selecteTaxReceipt">

							<h:form id="form-selecteTaxReceipt">

								<p:dataTable value="#{customerPaymentCtl.listOfTaxReceipt}"
									var="taxreceipt" rowIndexVar="index"
									tableStyle="table-layout: auto;"
									filteredValue="#{customerPaymentCtl.filteredTaxReceipt}"
									paginator="true" paginatorPosition="bottom" rows="15"
									id="datatable">
									<p:column headerText="#">
										<h:outputText value="#{index +1}" />
									</p:column>

									<p:column headerText="รหัสใบกำกับภาษี"
										filterBy="#{taxreceipt.taxReceiptNumber}"
										filterMatchMode="contains">
										<h:outputText value="#{taxreceipt.taxReceiptNumber}" />
									</p:column>

									<p:column headerText="วันที่"
										filterBy="#{taxreceipt.receiptDate}"
										filterMatchMode="contains">
										<h:outputText value="#{taxreceipt.receiptDate}" />
									</p:column>

									<p:column headerText="ชื่อบริษัท"
										filterBy="#{taxreceipt.grandTotal}" filterMatchMode="contains">
										<h:outputText value="#{taxreceipt.grandTotal}" />
									</p:column>

									<p:column>
										<p:commandButton value="เลือก"
											actionListener="#{customerPaymentCtl.seleteTaxReceipt(taxreceipt)}"
											oncomplete="PF('selecteTaxReceipt').hide()" process="@this"
											update="tab:add:taxReceiptNumber">
										</p:commandButton>

									</p:column>

								</p:dataTable>


							</h:form>

						</p:overlayPanel>

					</p:tab>
				</p:tabView>

				<h:form id="fm-dataTableCMPM">
					<p:dataTable value="#{customerPaymentCtl.listOfCustomerPayment}"
						var="customerpayment" rowIndexVar="index"
						tableStyle="table-layout: auto;" id="dataTableCMPM"
						paginator="true" paginatorPosition="bottom" rows="15">

						<p:column headerText="#">
							<h:outputText value="#{index+1}"></h:outputText>
						</p:column>


						<p:column headerText="วิธีชำระ">
							<h:outputText value="#{customerpayment.customerPaymentName}"></h:outputText>
						</p:column>

						<p:column headerText="ใบกำกับภาษี">
							<h:outputText
								value="#{customerpayment.taxReceipt.taxReceiptNumber}"></h:outputText>
						</p:column>

						<p:column headerText="วันที่">
							<h:outputText value="#{customerpayment.createdBy}"></h:outputText>
						</p:column>

						<p:column>

							<p:commandButton icon="fa fa-edit" onclick="PF('tab').select(1)"
								process="@this" ajax="true" update="tab:add"
								actionListener="#{customerPaymentCtl.update(customerpayment)}">
							</p:commandButton>

							<p:commandButton icon="fa fa-trash" ajax="true"
								actionListener="#{customerPaymentCtl.delete(customerpayment)}"
								process="@this" update="panel">
							</p:commandButton>

						</p:column>
					</p:dataTable>
				</h:form>
			</p:panel>

			<script type="text/javascript">
				function clearMessage() {
					$('#msgs').html('');
				}
			</script>

		</h:body>



	</ui:define>
</ui:composition>
