<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:pe="http://primefaces.org/ui/extensions">

<h:head>
	<title>เพิ่มสินค้า บริการ</title>
	<style type="text/css">
.ui-widget {
	font-size: 90%;
}
</style>
</h:head>

<h:body>
	<h:form id="detail">
		
		<p:messages id="msgs" />
		
		<h:panelGrid columns="4" cellpadding="3">

		

			<p:outputLabel for="description" value="คำอธิบาย  :" />
			
			<p:inputTextarea id="description"
				required="true" requiredMessage="กรุณาใส่คำอธิบาย"
				value="#{quotationCtl.quotationDetail.description}"
				 label="คำอธิบาย" >

			</p:inputTextarea>

			


			<p:outputLabel for="quantity" value="ระยะเวลา : " />
			<p:inputText id="quantity" required="true"
				requiredMessage="กรุณาระบุจำนวนเวลา"
				value="#{quotationCtl.quotationDetail.quantity}"
				label="ระยะเวลา " validatorMessage="กรุณาระบุระยะเวลาที่มากกว่า 0 ">
			<f:validateDoubleRange minimum="1"></f:validateDoubleRange>

			</p:inputText>

			<p:outputLabel for="unit_type" value="หน่วยเวลา : " />
			<p:selectOneMenu id="unit_type"
				value="#{quotationCtl.quotationDetail.unitType}"
				style="width:125px" required="true"
				requiredMessage="กรุณาเลือกหน่วยเวลา">
				<f:selectItem itemLabel="เลือกหน่วยเวลา" itemValue="" />
				<f:selectItem itemLabel="วัน" itemValue="day" />
				<f:selectItem itemLabel="เดือน" itemValue="month" />

			</p:selectOneMenu>

			<p:outputLabel for="unit_price" value="ราคา : " />
			<p:inputText id="unit_price" required="true"
				requiredMessage="กรูณาระบุราคา เวลาต่อหน่วย"
				validatorMessage="กรุณาระบุราคาที่มากกว่า  0"
				value="#{quotationCtl.quotationDetail.unitPrice}" label="ราคา ">
			<f:validateDoubleRange minimum="1.0"> </f:validateDoubleRange>

			</p:inputText>

			<p:outputLabel for="projectname" value="ชื่อ โปรเจ็ค : " />
			<p:inputText id="projectname"
				requiredMessage="กรุณาระบุชื่อโปรเจ็ค"
				value="#{quotationCtl.quotationDetail.projectName}"
				label="ชื่อโปรเจ็ค " required="true" >


			</p:inputText>

		</h:panelGrid>

		<p:commandButton value="เพิ่ม"
			actionListener="#{quotationCtl.seleteQuotationDetail}" process="@(form)" update="@(form)" >
		</p:commandButton>

		<pe:keyFilter for="unit_price,quantity" mask="num"/>


	</h:form>
</h:body>
</html>