
<ui:composition template="/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<ui:define name="content">

		<p:panel id="panel">

			<p:messages autoUpdate="true" closable="true" id="msgs"
				sticky="false"></p:messages>

			<p:tabView widgetVar="tab" id="tab">

				<p:tab title="ค้นหาใบเสนอราคา">

					<h:form id="search">
						<h:panelGrid columns="2" cellpadding="5">


							<h:outputLabel for="qt_id" value="เลขที่ใบเสนอราคา : " />
							<p:inputText id="qt_id" 
								value="#{quotationCtl.sQuotation.qtNumber}"
								label="เลขที่ใบเสนอราคา"  placeholder="เลขที่ใบเสนอราคา"/>


							

							<p:outputLabel value="วันที่เริ่มต้น : " for="sStartDate" />
							<p:calendar id="sStartDate" effect="slide"
								value="#{purchaseOrderCtl.sStartDate}"
								placeholder="วันที่เริ่มต้น" maxdate="#{now}" navigator="true"
								locale="de" pattern="MM/dd/yyyy" />


							<p:outputLabel value="วันที่สิ้นสุด : " for="sEndDate" />
							<p:calendar id="sEndDate" effect="slide"
								value="#{purchaseOrderCtl.sEndDate}" placeholder="วันที่สิ้นสุด"
								maxdate="#{now}" navigator="true" locale="de"
								pattern="MM/dd/yyyy" />



							<p:commandButton icon="fa fa-search" value="ค้นหา" update="panel"
								process="search" actionListener="#{quotationCtl.search}">

							</p:commandButton>
							<p:commandButton value="ยกเลิก" update="panel" process="@this"
								icon="fa fa-times-circle" actionListener="#{quotationCtl.init}">

							</p:commandButton>

						</h:panelGrid>

					</h:form>
				</p:tab>

				<p:tab title="สร้างใบเสนอราคา" id="tab-add">
					<h:form id="add">

						<div align="Right">
							<h:panelGrid columns="2" cellpadding="10">
								<p:outputLabel for="id" value="เลขที่ใบเสนอราคา :" />
								<p:inputText id="id" label="เลขที่ใบเสนอราคา" required="true"
									style="width:200px" value="#{quotationCtl.quotation.qtNumber}"
									requiredMessage="กรุณาใส่เลชที่ใบเสนอราคา" placeholder="เลขที่ใบเสนอราคา">

								</p:inputText>
							</h:panelGrid>

							<h:panelGrid columns="2" cellpadding="10">
								<p:outputLabel for="ref" value="อ้างอิง :" />
								<p:inputText id="ref" label="อ้างอิง" style="width:200px"
									value="#{quotationCtl.quotation.referrence}" 
									placeholder="อ้างอิง">

								</p:inputText>
							</h:panelGrid>
						</div>

						<h:panelGrid columns="4" layout="grid">
							<p:outputLabel for="customerCode" value="บริษัท :" />

							<h:panelGroup>

								<p:inputText id="customerCode" required="true"
								requiredMessage="กรุณาเลือกบริษัท" disabled="true"
									placeholder="บริษัท"
									value="#{quotationCtl.quotation.customer.companyName}" />

								<p:commandButton icon="fa fa-search" 
									onclick="PF('selecteCustomer').show('#{component.clientId}')"
									dismissable="false" showCloseIcon="true" process="@this"
									update="customerCode">
								</p:commandButton>

							</h:panelGroup>

							<p:outputLabel for="product" value="สินค้า :" />


							<h:panelGroup id="qtDatatable">

								<p:commandButton value="เพิ่มสินค้า" icon="ui-icon-extlink"
									id="product" actionListener="#{quotationCtl.dialogaddItem}"
									process="@this" >
									<p:ajax event="dialogReturn" update="detail" />

								</p:commandButton>

								<p:dataTable id="detail" rowIndexVar="index"
									value="#{quotationCtl.listOfQuotationDetail}" var="qtd"
									paginator="true" paginatorPosition="bottom" rows="10">

									<p:column headerText="#">
										<h:outputText value="#{index+1}"></h:outputText>
									</p:column>

									<p:column headerText="รายละเอียด">
										<h:outputText value="#{qtd.description}" />
									</p:column>

									<p:column headerText="จำนวนเงิน">
										<h:outputText value="#{qtd.amount}" />
									</p:column>

									<p:column>
										<p:commandButton icon="fa fa-fw fa-edit"
											actionListener="#{quotationCtl.dialogaddItem(qtd)}"
											process="detail" update="detail">
											<p:ajax event="dialogReturn" update="detail" />
										</p:commandButton>


										<p:commandButton icon="fa fa-remove"
											actionListener="#{quotationCtl.removeDetail(qtd)}"
											process="detail" update="detail" />

									</p:column>

								</p:dataTable>
								<p:commandButton value="คำนวณราคา"
									actionListener="#{quotationCtl.sumProduct}" process="@this"
									update="calculate" />
							</h:panelGroup>

							<p:outputLabel for="remark" value="หมายเหตุ :" />
							<p:inputTextarea id="remark" label="หมายเหตุ :" rows="5"
								cols="31" value="#{quotationCtl.quotation.remarks}">

							</p:inputTextarea>


							<h:panelGroup id="calculate">

								<p:outputLabel for="total" value="รวม :" />
								<p:inputText id="total" label="รวม" 
									placeholder="ราคารวม"
									value="#{quotationCtl.quotation.total}">

								</p:inputText>

								<p:outputLabel for="discountPercentage" value="ส่วนลด (%):" />

								<p:inputText id="discountPercentage" label="ส่วนลด(%)"
									placeholder="ส่วนลด (%) "
									value="#{quotationCtl.quotation.discountPercentage}">
								</p:inputText>
								<p:inputText id="discount" label="ส่วนลด "
									placeholder="ส่วนลด"
									value="#{quotationCtl.quotation.discount}">

								</p:inputText>
	
							<h:panelGroup>
								<p:outputLabel for="vatper" value="ภาษี (%)  " />
								<p:selectBooleanCheckbox id="vat_status"
									value="#{quotationCtl.quotation.vatStatus}">
									<p:ajax event="change" update="vatper vat ,calculate" />
								</p:selectBooleanCheckbox>

								<p:inputText id="vatper" label="ภาษี"
									placeholder="ภาษี(%)"
									value="#{quotationCtl.quotation.vatPercentage}"
									rendered="#{quotationCtl.quotation.vatStatus == false}"
									readonly="#{quotationCtl.quotation.vatStatus == true}">
								</p:inputText>

								<p:inputText id="vat" label="ภาษี"
									placeholder="ภาษี"
									value="#{quotationCtl.quotation.vat}"
									disabled="true"
									readonly="#{quotationCtl.quotation.vatStatus == true}">
								</p:inputText>
							</h:panelGroup>
								<p:outputLabel for="grandtotal" value="จำนวนเงินสุทธิ" />
								<p:inputText id="grandtotal" disabled="true"
									placeholder="จำนวนเงินสุทธิ"
									label="จำนวนเงินสุทธิ"
									value="#{quotationCtl.quotation.grandTotal}">
								</p:inputText>

								<p:commandButton value="คำนวณจำนวนเงินสุทธิ" process="calculate"
									update="calculate"
									actionListener="#{quotationCtl.calGrandtotal}" />

								<pe:keyFilter
									for="grandtotal vat vatper discountPercentage discount total"
									mask="num" />

							</h:panelGroup>



						</h:panelGrid>

			
							<p:commandButton value="บันทึก" icon="ui-icon-extlink"
								actionListener="#{quotationCtl.save}" update="add"
								process="add"/>
							<p:commandButton value="ยกเลิก" icon="ui-icon-extlink"
								actionListener="#{quotationCtl.init}" 
								update="add, customerCode, fm-dataTableQt:quotations"
								process="@this" />
			


					</h:form>


					<p:overlayPanel widgetVar="selecteCustomer">

						<h:form id="form-selecteCustomer">

							<p:dataTable value="#{quotationCtl.listOfCustomer}"
								var="customer" rowIndexVar="index"
								tableStyle="table-layout: auto;"
								filteredValue="#{quotationCtl.filteredCustomer}"
								paginator="true" paginatorPosition="bottom" rows="15"
								id="datatable">
								<p:column headerText="#">
									<h:outputText value="#{index +1}" />
								</p:column>

								<p:column headerText="รหัสลูกค้า"
									filterBy="#{customer.customerCode}" filterMatchMode="contains">
									<h:outputText value="#{customer.customerCode}" />
								</p:column>

								<p:column headerText="ชื่อลูกค้า" filterBy="#{customer.name}"
									filterMatchMode="contains">
									<h:outputText value="#{customer.name}" />
								</p:column>

								<p:column headerText="ชื่อบริษัท"
									filterBy="#{customer.companyName}" filterMatchMode="contains">
									<h:outputText value="#{customer.companyName}" />
								</p:column>

								<p:column>
									<p:commandButton value="เลือก" 
										actionListener="#{quotationCtl.seleteCustomer(customer)}"
										oncomplete="PF('selecteCustomer').hide()" process="@this"
										update="tab:add:customerCode">
									</p:commandButton>

								</p:column>

							</p:dataTable>


						</h:form>

					</p:overlayPanel>

				</p:tab>
			</p:tabView>

			<h:form id="fm-dataTableQt">
				<p:dataTable value="#{quotationCtl.listOfQuotation}" var="quotation"
					rowIndexVar="index" tableStyle="table-layout: auto;" id="quotations"
					paginator="true" paginatorPosition="bottom" rows="15">>

					<p:column headerText="#">
						<h:outputText value="#{index+1}"></h:outputText>
					</p:column>


					<p:column headerText="เลขที่ใบเสนอราคา">
						<h:outputText value="#{quotation.qtNumber}"></h:outputText>
					</p:column>

					<p:column headerText="คู่ค้า">
						<h:outputText value="#{quotation.customer.companyName}"></h:outputText>
					</p:column>

					<p:column headerText="วันที่ออก">
						<h:outputText value="#{quotation.createdDate}" />
					</p:column>


					<p:column headerText="จำนวนเงิน">
						<h:outputText value="#{quotation.grandTotal}" />
					</p:column>

					<p:column>

						<p:commandButton icon="fa fa-edit" onclick="PF('tab').select(1)"
							process="@this" ajax="true" update="@(form)"
							actionListener="#{quotationCtl.update(quotation)}">
						</p:commandButton>

						<p:commandButton icon="fa fa-trash" ajax="true"
							actionListener="#{quotationCtl.delete(quotation)}"
							process="@this" update=":fm-dataTableQt">
						</p:commandButton>

					</p:column>
				</p:dataTable>


			</h:form>


			<script type="text/javascript">
				function clearMessage() {
					$('#msgs').html('');
				}
			</script>

		</p:panel>
	</ui:define>
</ui:composition>
