
<ui:composition template="/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="content">


		<h:body>
			<p:panel>

				<h:form>
					<h:panelGrid columns="1" cellpadding="5">
						<p:outputLabel value="Parent : " />
						<p:selectOneMenu style="width:200px" converter="#{menuConverter}"
							value="#{menuCtl.menu.menu}" required="true" var="m">
							
							
							<f:selectItems value="#{menuCtl.listOfMenuNotLv3}" var="menu"
								itemLabel="#{menu.name}" itemValue="#{menu}">
							</f:selectItems>

							<p:column style="width:10%">
								<h:outputText value="#{m.name}" />
							</p:column>
							<p:column style="width:10%">
								<h:outputText value=" level : #{m.level}" />
							</p:column>





						</p:selectOneMenu>

						<p:outputLabel value="Name : " />
						<p:inputText style="width:195px" id="menu" label="Menu"
							value="#{menuCtl.menu.name}" required="true"
							placeholder="ชื่อเมนู" requiredMessage="กรุณาใส่ชื่อเมนู"
							validatorMessage="กรุณาใส่อย่างน้อย 2 ตัวอักษร">
							<f:validateLength minimum="2" />


						</p:inputText>
						<p:message for="menu" id="msgMenu" />

						<p:outputLabel value="Function : " />
						<p:selectOneMenu style="width:200px"
							converter="#{functionConverter}" value="#{menuCtl.menu.function}"
							required="true" var="f">

							<f:selectItems value="#{menuCtl.listOfFunction}" var="function"
								itemLabel="#{function.name}" itemValue="#{function}">
							</f:selectItems>

							<p:column>
								<h:outputText value="#{f.name}" />
							</p:column>


						</p:selectOneMenu>
						<br />
						<p:commandButton value="save" actionListener="#{menuCtl.save}"
							ajax="true" update="@all"></p:commandButton>
						<br></br>
					</h:panelGrid>

					<h:panelGrid columns="3" cellpadding="5">
						<p:outputLabel value="TreeFunction : " />
						<p:tree orientation="horizontal" value="#{menuCtl.menuRoot}"
							var="node">


							<p:treeNode>

								<h:outputText value="#{node.name}" />
								<p:commandButton icon="fa fa-edit" process="@this" update="@all"
									actionListener="#{menuCtl.update(node)}"></p:commandButton>

								<p:commandButton icon="fa fa-times" process="@this"
									update="@all" actionListener="#{menuCtl.delete(node)}"></p:commandButton>





							</p:treeNode>






						</p:tree>
					</h:panelGrid>
				</h:form>


			</p:panel>

			<script type="text/javascript">
				$(document).ready(function() {
					$('.ui-tree-toggler').trigger("click");
					//$('td[data-rowkey="root"]').hide();
				});
			</script>

		</h:body>
	</ui:define>
</ui:composition>
