
<ui:composition template="/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="content">
		<p:panel id="panel">
			<p:messages autoUpdate="true"></p:messages>
			<p:tabView widgetVar="tab" id="tab">
				<p:tab title="ค้นหาผู้ใช้ระบบ">
					<h:form id="search">
						<h:panelGrid columns="4" cellpadding="5">

							<p:outputLabel for="username" value="ชื่อผู้ใช้: " />

							<p:inputText id="username" value="#{userCtl.sUser.userName}"
								label="ชื่อผู้ใช้" placeholder="ชื่อผู้ใช้" />

							<p:commandButton process="search" update="panel"
								icon="fa fa-search" value="ค้นหา"
								actionListener="#{userCtl.search}"></p:commandButton>

							<p:commandButton value="ยกเลิก" update="panel" process="@this"
								icon="fa fa-times-circle" actionListener="#{userCtl.init}">

							</p:commandButton>

						</h:panelGrid>
					</h:form>
				</p:tab>
				<p:tab title="สร้างผู้ใช้ระบบ">
					<h:form id="add">
						<h:panelGrid columns="4" cellpadding="13">

							<p:outputLabel for="employee" value="เลือกพนักงาน:" />

							<p:selectOneMenu id="employee" converter="converterValue2Item"
								value="#{userCtl.user.employeeInfo}" required="true"
								filter="true" filterMatchMode="startsWith" var="e"
								panelStyle="width:180px" requiredMessage="กรุณาเลือกพนักงาน">

								<f:selectItem itemValue="#{null}" itemLabel="เลือกพนักงาน" />

								<f:selectItems value="#{userCtl.listOfEmployee}" var="employee"
									itemLabel="#{employee.firstName}" itemValue="#{employee}">
								</f:selectItems>

								<p:column style="width:10%">
									<h:outputText value="#{e.firstName}" />
								</p:column>
								<p:column style="width:10%">
									<h:outputText value="#{e.lastName}" />
								</p:column>

							</p:selectOneMenu>



							<p:outputLabel value="บทบาท: " />
							<h:panelGroup>
								<p:commandButton value="เลือกบทบาท" icon="ui-icon-extlink"
									onclick="PF('selecteRole').show('#{component.clientId}')"
									process="@this">
								</p:commandButton>

								<p:dataTable value="#{userCtl.listSelectRole}" var="role" 
									rowIndexVar="index" paginator="true" paginatorPosition="bottom"
									rows="15" id="role">
									<p:column headerText="#"
										style="width: 10px;text-align: center;">
										<h:outputText value="#{index+1}" />
									</p:column>

									<p:column headerText="บทบาท"
										style="width: 10px;text-align: center;">
										<h:outputText value="#{role.name}" />
									</p:column>

									<p:column style="text-align: center;width: 10px">
										<p:commandButton icon="fa fa-remove"
											actionListener="#{userCtl.removeRole(role)}" process="@this"
											update="role"></p:commandButton>
									</p:column>

								</p:dataTable>

							</h:panelGroup>

							<p:outputLabel for="username" value="ชื่อผู้ใช้:" />
							<p:inputText id="username" value="#{userCtl.user.userName}"
								required="true" label="ชื่อผู้ใช้"
								validatorMessage="กรุณากรอก ชื่อผู้ใช้อย่างน้อย 6-16 ตัวอักษร"
								requiredMessage="กรุณาใส่ ชื่อผู้ใช้"
								placeholder="ชื่อผู้ใช้">

								<f:validateLength minimum="6" maximum="16" />

							</p:inputText>

							<p:outputLabel for="password" value="รหัสผ่าน:"/>
							<p:inputText id="password" value="#{userCtl.user.password}"
								label="รหัสผ่าน" required="true"
								validatorMessage="กรุณากรอก รหัสผ่านอย่างน้อย 6-16 ตัวอักษร"
								requiredMessage="กรุณาใส่ รหัสผ่าน"
								placeholder="รหัสผ่าน">

								<f:validateLength minimum="6" maximum="16" />
							</p:inputText>

						</h:panelGrid>

						<p:commandButton value="บันทึก" update="add,:frm-dt" ajax="true"
							actionListener="#{userCtl.save}" validateClient="true"
							process="add" icon="fa fa-save"></p:commandButton>

						<p:commandButton value="ยกเลิก" update="add, frm-dt:users" process="@this"
							icon="fa fa-times-circle" actionListener="#{userCtl.init}">

						</p:commandButton>

					</h:form>

					<p:overlayPanel widgetVar="selecteRole">
						<h:form id="form-selecteRole">

							<p:dataTable value="#{userCtl.listOfRole}" var="role"
								rowIndexVar="index" tableStyle="table-layout: auto;"
								filteredValue="#{userCtl.filteredRole}" paginator="true"
								paginatorPosition="bottom" rows="15" id="datatable">

								<p:column headerText="#" >
									<h:outputText value="#{index+1}" />
								</p:column>

								<p:column headerText="บทบาท" 
									filterBy="#{role.name}" filterMatchMode="contains">
									<h:outputText value="#{role.name}" />
								</p:column>

								<p:column headerText="รายละเอียด" 
									filterBy="#{role.description}" filterMatchMode="contains">
									<h:outputText value="#{role.description}" />
								</p:column>

								<p:column >
									<p:commandButton value="เลือก" process="@this"
										actionListener="#{userCtl.selectRole(role)}"
										oncomplete="PF('selecteRole').hide()"
										 update="tab:add:role">
											
										
									</p:commandButton>
								</p:column>

							</p:dataTable>


						</h:form>

					</p:overlayPanel>

				</p:tab>
			</p:tabView>
			<br />
			<h:form id="frm-dt">
				<p:dataTable value="#{userCtl.listOfUser}" var="user" id="users"
					rowIndexVar="index" tableStyle="table-layout: auto;"
					paginator="true" paginatorPosition="bottom" rows="15">

					<p:column headerText="#">
						<h:outputText value="#{index+1}"></h:outputText>
					</p:column>

					<p:column headerText="ชื่อ">
						<h:outputText value="#{user.employeeInfo.firstName}"></h:outputText>
					</p:column>

					<p:column headerText="ชื่อผู้ใช้">
						<h:outputText value="#{user.userName}"></h:outputText>
					</p:column>

					<p:column>
						<p:commandButton icon="fa fa-edit" onclick="PF('tab').select(1)"
							process="@this" ajax="true" update="@(form)"
							actionListener="#{userCtl.update(user)}">
						</p:commandButton>


						<p:commandButton icon="fa fa-trash" ajax="true"
							actionListener="#{userCtl.delete(user)}" process="@this"
							update="@(form)"></p:commandButton>
					</p:column>

				</p:dataTable>
			</h:form>
			<script type="text/javascript">
				function clearMessage() {
					$('#msgs').html('');
				}
			</script>



		</p:panel>
	</ui:define>
</ui:composition>