<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Dashboard</title>



</h:head>
<h:body>
	<p:layout fullPage="true">

		<p:layoutUnit id="north" position="north"
			styleClass="noScrolllayoutUnit" gutter="0" collapsible="true"
			size="70">
			<h:form>
				<p:menubar styleClass="nav" id="navmenu">

					<p:menuitem value="3G Software Co., Ltd." styleClass="menubaritem"></p:menuitem>

					<f:facet name="options">
						<p:button type="button" value="Logout"
							outcome="#{pageContext.request}/login.xhtml"
							icon="fa fa-sign-out" style="width: 140px;height: 48px;" />
					</f:facet>
				</p:menubar>
			</h:form>
		</p:layoutUnit>

		<p:layoutUnit id="west" position="west" size="300" effectSpeed="1000"
			closable="true" effect="slide" collapsible="true" gutter="0"
			style="padding:0px;">
			<h:form>


				<p:panelMenu style="  margin-top: -1px;">

					<p:submenu label="Simple Menu for development" id="simplemenu"
						expanded="false">
						
						<p:menuitem value="Bill Mange"
							url="#{pageContext.request}/views/bill/bill.xhtml"
							actionListener="#{billCtl.init}"
							process="@this"
							></p:menuitem>
						
						<p:menuitem value="Position Mange"
							url="#{pageContext.request}/views/position/position.xhtml"
							actionListener="#{positionCtl.init}"
							process="@this"
							></p:menuitem>
						
						<p:menuitem value="Employee Mange"
							url="#{pageContext.request}/views/employee/employee.xhtml"
							process="@this"
							actionListener="#{employeeCtl.init}"></p:menuitem>

						<p:menuitem value="User Mange"
							url="#{pageContext.request}/views/user/user.xhtml"
							actionListener="#{userCtl.init}"
							process="@this"></p:menuitem>
							
							
						<p:menuitem value="Customer Mange"
							url="#{pageContext.request}/views/customer/customer.xhtml"
							process="@this"
							actionListener="#{customerCtl.init}"></p:menuitem>

						<p:menuitem value="Quotation Mange"
							url="#{pageContext.request}/views/quotation/quotation.xhtml"
							process="@this"
							actionListener="#{quotationCtl.init}"></p:menuitem>

						<p:menuitem value="PurchaseOrder Mange"
							url="#{pageContext.request}/views/po/po.xhtml"
							process="@this"
							actionListener="#{purchaseOrderCtl.init}"></p:menuitem>
							
						<p:menuitem value="Invoice Mange"
							url="#{pageContext.request}/views/invoice/invoice.xhtml"
							process="@this"
							actionListener="#{invoiceCtl.init}"></p:menuitem>

						<p:menuitem value="TaxReceipt Mange"
							url="#{pageContext.request}/views/tax_re/tax_re.xhtml"
							process="@this"
							actionListener="#{taxReceiptCtl.init}"></p:menuitem>
							
						<p:menuitem value="CustomerPayment"
							url="#{pageContext.request}/views/customerPayment/customerPayment.xhtml"
							actionListener="#{customerPaymentCtl.init}"></p:menuitem>

					</p:submenu>

					<p:separator />

				</p:panelMenu>
			</h:form>


		</p:layoutUnit>


		<p:layoutUnit id="center" position="center" gutter="0"
			collapsible="true" style="padding:5px">


			<ui:insert name="content"></ui:insert>

		</p:layoutUnit>
	</p:layout>
	<h:outputStylesheet library="css" name="style.css" />
	<script type="text/javascript">
		if (!$('.ui-panelmenu-panel').find('h3').hasClass('ui-corner-top')) {
			$('a[tabindex="-1"]a:not([class])').first().click();
		}
	</script>
</h:body>
</html>
