
<ui:composition template="/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="content">



		<h:body>
			<p:panel id="panel">

				<p:messages autoUpdate="true" closable="true" 
					sticky="false"></p:messages>

				<p:tabView onTabChange="clearMessage()" widgetVar="tab">

					<p:tab title="ค้นหาฟังก์ชัน">


						<h:form id="search">
							<h:panelGrid cellpadding="6" columns="6">


								<p:outputLabel for="sfunctionname" value="ชื่อฟังก์ชัน : " />
								<p:inputText id="sfunctionname"
									value="#{functionCtl.sFunction.name}" label="ชื่อฟังก์ชัน" />

								<p:commandButton icon="fa fa-search" value="ค้นหา"
									update=":frm-dt,search" process="search"
									actionListener="#{functionCtl.search}"></p:commandButton>
								<p:commandButton value="ยกเลิก" update="panel" process="@this"
									icon="fa fa-times-circle" actionListener="#{functionCtl.init}">
									<p:resetInput target="panel" />
								</p:commandButton>

							</h:panelGrid>

						</h:form>

					</p:tab>

					<p:tab title="สร้างฟังก์ชัน">
						<h:form id="add">

							<h:panelGrid columns="6" cellpadding="8">

								<p:outputLabel for="functionname" value="ชื่อฟังก์ชัน : " />
								<p:inputText id="functionname"
									value="#{functionCtl.function.name}" required="true"
									label="FunctionName"
									requiredMessage="กรุณาใส่ชื่อ ฟังก์ชัั่น" 
									validatorMessage="กรุณาใส่ชื่อ ฟังก์ชัั่น อย่างน้อย 5 ตัวอักษร">
									
									<f:validateLength minimum="5" />
								</p:inputText>

								<p:outputLabel for="url" value="URL : " />
								<p:inputText id="url" value="#{functionCtl.function.url}"
									required="true" label="URL" 
									requiredMessage="กรุณาใส่ URL" />


								<p:commandButton value="บันทึก" update=":frm-dt,add" ajax="true"
									validateClient="true" process="add"
									actionListener="#{functionCtl.save}" icon="fa fa-save"></p:commandButton>
								<p:commandButton value="ยกเลิก" update="add, frm-dt:functions" process="@this"
									icon="fa fa-times-circle" actionListener="#{functionCtl.init}">
								
								</p:commandButton>
							</h:panelGrid>


						</h:form>
					</p:tab>

				</p:tabView>

				<h:form id="frm-dt">

					<p:dataTable rowIndexVar="index" tableStyle="table-layout: auto;"
						paginator="true" paginatorPosition="bottom" id="functions"
						value="#{functionCtl.listOfFunction}" var="function" rows="15">
						<p:column headerText="#">
							<h:outputText value="#{index+1}" />
						</p:column>

						<p:column headerText="ชื่อฟังก์ชัน">
							<h:outputText value="#{function.name}" />
						</p:column>

						<p:column headerText="URL">
							<h:outputText value="#{function.url}" />
						</p:column>

						<p:column headerText="">
							<p:commandButton icon="fa fa-edit"
								onclick="PF('tab').select(1)"
								actionListener="#{functionCtl.update(function)}" ajax="true"
								update="@(form)"></p:commandButton>

							<p:commandButton icon="fa fa-trash"
								actionListener="#{functionCtl.delete(function)}" ajax="true"
								update=":frm-dt"></p:commandButton>

						</p:column>


					</p:dataTable>

				</h:form>



			</p:panel>

			<script type="text/javascript">
				function clearMessage() {
					$('#msgs').html('');
				}
			</script>

		</h:body>


	</ui:define>
</ui:composition>