<ui:composition template="/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="content">
		<h:body>
			<p:panel id="panel">
				<p:messages autoUpdate="true" closable="true" id="msgs"
					sticky="false"></p:messages>
				<p:tabView onTabChange="clearMessage()" widgetVar="tab" id="tab">

					<p:tab title="ค้นหาโรล">

						<h:form id="search">

							<h:panelGrid cellpadding="6" columns="6">

								<h:outputLabel for="sname" value="ชื่อโรล  : " />
								<p:inputText id="sname" value="#{roleCtl.sRole.name}"
									label="RoleName" />


								<p:commandButton icon="fa fa-search" value="ค้นหา : "
									update="search,:frm-dt" process="search"
									actionListener="#{roleCtl.search}"></p:commandButton>
								<p:commandButton value="ยกเลิก" update="panel" process="@this"
									actionListener="#{roleCtl.init}" icon="fa fa-times-circle">
									<p:resetInput target="panel" />
								</p:commandButton>

							</h:panelGrid>

						</h:form>


					</p:tab>

					<p:tab title="สร้างโรล">
						<h:form id="add">

							<h:panelGrid columns="2" cellpadding="5" style="width:100%">

								<h:panelGrid columns="1" cellpadding="5">
									<p:outputLabel for="Position" value="ชื่อโรล : " />
									<p:inputText id="Position" value="#{roleCtl.role.name}"
										label="Position" required="true" placeholder="โรล"
										requiredMessage="กรุณากรอกนามสกุล"
										validatorMessage="กรุณาใส่นามสกุลอย่างน้อย 2 ตัวอักษร">
										<f:validateLength minimum="2" />

									</p:inputText>
	

									<p:outputLabel for="address" value="คำอธิบาย : " />
									<p:inputTextarea id="address" rows="5" cols="20"
										value="#{roleCtl.role.description}"
										requiredMessage="กรุณาใส่คำอธิบาย " required="true" >
																			 
									</p:inputTextarea>

								</h:panelGrid>


								<h:panelGrid columns="1">
									<h:panelGrid columns="2" cellpadding="0">
										<p:outputLabel for="function" value="เลือกฟังก์ชั่น : " />
										<p:commandButton id="function" type="button"
											onclick="PF('dialog-select-function').show('#{component.clientId}')"
											value="เลือก">
										</p:commandButton>


									</h:panelGrid>

									<br />
									<p:dataTable id="dt-lfw"
										value="#{roleCtl.listOfFunctionAndWorkRight}" var="lfw"
										rowIndexVar="index">
										<p:column headerText="#">
											<h:outputText value="#{index+1}" />
										</p:column>

										<p:column headerText="ชื่อฟังก์ชั่น">
											<h:outputText value="#{lfw.function.name}" />
										</p:column>
										<p:column headerText="สิทธิในการใช้งาน"
											style="align-text:center">

											<p:commandButton value="กำหนดสิทธิในการใช้งาน"
												id="select-workright-btn"
												oncomplete="PF('dialog-select-workright').show('#{component.clientId}')"
												actionListener="#{roleCtl.setWorkRight(lfw)}"
												update="frm-select-workright" process="@this">
											</p:commandButton>

										</p:column>
										<p:column headerText="action" style="text-align:center">
											<p:commandButton icon="fa fa-trash" update="tab:add:dt-lfw"
												action="#{roleCtl.removeDtoItemList(lfw)}" process="@this">

											</p:commandButton>

										</p:column>

									</p:dataTable>

								</h:panelGrid>

							</h:panelGrid>
							<br />
							<br />

							<h:panelGrid columns="2" cellpadding="5">
								<p:commandButton value="บันทึก" update="add,:frm-dt" ajax="true"
									validateClient="true" process="@all" icon="fa fa-save"
									actionListener="#{roleCtl.save}"></p:commandButton>
								<p:commandButton value="ยกเลิก" update="panel" process="@this"
									actionListener="#{roleCtl.init}" icon="fa fa-times-circle">
									<p:resetInput target="panel" />
								</p:commandButton>
							</h:panelGrid>


						</h:form>

					</p:tab>


				</p:tabView>
				<br />

				<h:form id="frm-dt">


					<p:dataTable value="#{roleCtl.listOfRole}" var="role"
						style="width:100%;text-align:center" rowIndexVar="index"
						tableStyle="table-layout: auto;" paginator="true"
						paginatorPosition="bottom" rows="15">
						<p:column headerText="#" width="5%">
							<h:outputText value="#{index+1}" />
						</p:column>
						<p:column headerText="ชื่อ" width="10%">
							<h:outputText value="#{role.name}" />
						</p:column>
						<p:column headerText="คำอธิบาย">
							<h:outputText value="#{role.description}" />
						</p:column>
						<p:column headerText="แสดงฟังชั่น">
							<p:commandButton icon="fa fa-eye"
								actionListener="#{roleCtl.showRoleDetail(role)}"
								onclick="PF('dialog-show-role-detail').show('#{component.clientId}')"
								update="frm-show-role-detail" process="@this"></p:commandButton>
						</p:column>
						<p:column headerText="อัพเดรต">
							<p:commandButton icon="fa fa-edit" update="@(form)"
								actionListener="#{roleCtl.update(role)}" process="@this"
								onclick="PF('tab').select(1)"></p:commandButton>
						<p:commandButton icon="fa fa-trash"
								actionListener="#{roleCtl.delete(role)}" ajax="true"
								update=":frm-dt"></p:commandButton>
						</p:column>
					</p:dataTable>
				</h:form>



				<p:overlayPanel widgetVar="dialog-select-function"
					dismissable="false" showCloseIcon="true" style="width:500px">

					<h:form id="frm-dt-functionlist">
						<p:dataTable value="#{roleCtl.listOfFunction}" var="function"
							filteredValue="#{roleCtl.listOfFilltered}" rowIndexVar="index"
							paginator="true" paginatorPosition="bottom" rows="15">
							<p:column headerText="#" style="width:10%;text-align: center;">
								<h:outputText value="#{index+1}" />
							</p:column>

							<p:column headerText="ชื่อฟังก์ชัน" style="width:30%"
								filterBy="#{function.name}" filterMatchMode="contains">
								<h:outputText value="#{function.name}" />
							</p:column>

							<p:column headerText="URL" style="width:20%">
								<h:outputLink value="#" id="fade">
									<h:outputText value="=ชี้เพื่อตรวจสอบลิงค์"></h:outputText>
								</h:outputLink>
								<p:tooltip for="fade" value="#{function.url}"></p:tooltip>
							</p:column>

							<p:column style="text-align: center;width:20%">
								<p:commandButton value="เลือก" update="tab:add:dt-lfw"
									process="@this"
									oncomplete="PF('dialog-select-function').hide()"
									actionListener="#{roleCtl.selectFunction(function)}">
								</p:commandButton>
							</p:column>

						</p:dataTable>
					</h:form>
				</p:overlayPanel>



				<p:overlayPanel widgetVar="dialog-select-workright"
					dismissable="false" showCloseIcon="true">
					<h:form id="frm-select-workright">
						<h:panelGrid>
							<p:selectManyCheckbox id="basic" layout="grid" columns="1"
								converter="converterValue2Item"
								value="#{roleCtl.listOfSelectWorkRight}" style="text">
								<f:selectItems value="#{roleCtl.listOfWorkRight}"
									var="workright" itemLabel="#{workright.code}"
									itemValue="#{workright}"></f:selectItems>
							</p:selectManyCheckbox>
							<p:commandButton process="frm-select-workright"
								update="tab:add:dt-lfw" value="okay"
								oncomplete="PF('dialog-select-workright').hide()"
								actionListener="#{roleCtl.selectWorkRight}"></p:commandButton>
						</h:panelGrid>
					</h:form>
				</p:overlayPanel>


				<p:overlayPanel widgetVar="dialog-show-role-detail"
					dismissable="true" showCloseIcon="true" style="width:500px">
					<h:form id="frm-show-role-detail">
						<p:dataTable value="#{roleCtl.dtoForShowRoleDetail}"
							tableStyle="table-layout: auto;" var="dto" rowIndexVar="index">
							<p:column headerText="#" width="5%">
								<h:outputText value="#{index+1}" />
							</p:column>

							<p:column headerText="ชื่อฟังก์ชั่น">
								<h:outputText value="#{dto.function.name}"></h:outputText>
							</p:column>

							<p:column headerText="สิทธิในการใช้งาน">
								<p:dataList value="#{dto.workrights}" var="wr">
									<h:outputText value="#{wr.code}"></h:outputText>
								</p:dataList>
							</p:column>

						</p:dataTable>
					</h:form>
				</p:overlayPanel>


			</p:panel>

			<script type="text/javascript">
				function clearMessage() {
					$('#msgs').html('');
				}
			</script>


		</h:body>


	</ui:define>
</ui:composition>