<ui:composition template="/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="content">
		<h:body>
			<h:form>
				<p:selectManyCheckbox id="xxx" layout="grid" columns="1"
					value="#{roleCtl.listWorkRight}" style="text">
					<f:selectItems value="#{roleCtl.listOfWorkRight}" var="workright"
						itemLabel="#{workright.code}" itemValue="#{workright.code}"></f:selectItems>
				</p:selectManyCheckbox>
				<p:commandButton value="บันทึก"  ajax="true"
					validateClient="true" process="@form" icon="fa fa-save"
					actionListener="#{roleCtl.save}"></p:commandButton>
			</h:form>
		</h:body>


	</ui:define>
</ui:composition>