<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>

</h:head>

<h:body>
	<h:form id="work">
		<p:panel id="panel" header="ให้สิทธิการเข้าถึง">
			<p:selectManyCheckbox id="basic" layout="grid" columns="1"
				converter="converterValue2Item"
				value="#{roleCtl.listOfSelectWorkRight}" 
				style="text">
				<f:selectItems value="#{roleCtl.listOfWorkRight}" var="workright"
					itemLabel="#{workright.code}" itemValue="#{workright}"></f:selectItems>
			</p:selectManyCheckbox>
			<p:commandButton process="@form" update="@all" value="okay"  actionListener="#{roleCtl.selectWorkRight}"
			></p:commandButton>
		</p:panel>
	</h:form>
</h:body>
<h:outputStylesheet library="css" name="style.css" />
</html>