<ui:composition template="/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="content">

		<h:body>
			<p:panel id="panel">

				<p:messages autoUpdate="true" closable="true" id="msgs"
					sticky="false"></p:messages>

				<p:tabView id="tab" widgetVar="tab">

					<p:tab title="ค้นหาใบวางบิล" >
						<h:form id="search">


							<h:panelGrid columns="2" cellpadding="5">


								<p:outputLabel for="billNumber" value="เลขที่บิล : " />
								<p:inputText id="billNumber" value="#{billCtl.sBill.billNumber}"
									label="เลขที่ใบเสนอราคา"  placeholder="Ex.B001"/>

								<p:outputLabel value="วันที่เริ่มต้น : " for="sStartDate" />
								<p:calendar id="sStartDate" effect="slide"
									value="#{billCtl.sStartDate}" placeholder="วันที่เริ่มต้น"
									maxdate="#{now}" navigator="true" locale="de"
									pattern="MM/dd/yyyy" />


								<p:outputLabel value="วันที่สิ้นสุด : " for="sEndDate" />
								<p:calendar id="sEndDate" effect="slide"
									value="#{billCtl.sEndDate}" placeholder="วันที่สิ้นสุด"
									maxdate="#{now}" navigator="true" locale="de"
									pattern="MM/dd/yyyy" />



								<p:commandButton icon="fa fa-search" value="ค้นหา"
									update="panel" process="search"
									actionListener="#{billCtl.search}">

								</p:commandButton>
								<p:commandButton value="ยกเลิก" update="panel" process="@this"
									icon="fa fa-times-circle" actionListener="#{billCtl.init}">

								</p:commandButton>

							</h:panelGrid>


						</h:form>
					</p:tab>

					<p:tab title="สร้างใบวางบิล">
						<h:form id="add">

							<h:panelGrid columns="4" cellpadding="10">

								<p:outputLabel for="bill_id" value="เลขที่ใบวางบิล : " />
								<p:inputText id="bill_id" value="#{billCtl.bill.billNumber}"
									required="true" label="เลขที่ใบวางบิล"
									requiredMessage="กรุณาระบุเลขที่ใบวางบิล"
									placeholder="เลขที่ใบวางบิล" />

								<p:outputLabel for="Invoice_Date"
									value="วันที่ (ลูกค้านัดวางบิล):" />
								<p:calendar id="Invoice_Date" effect="slide" required="true"
									value="#{billCtl.bill.dueDate}" placeholder="วันที่เริ่มต้น"
									maxdate="#{now}" navigator="true" locale="de" 
									requiredMessage="กรุณาระบุวันที่"
									converterMessage="กรุณาระบุวันที่ ในรูปแบบ MM/dd/yyyy"
									pattern="MM/dd/yyyy"  />

								<p:outputLabel for="remrak"
									value="หมายเหตุ :" />
								<p:inputTextarea id="remrak" value="#{billCtl.bill.remark}"
									label="หมายเหตุ" />

							<p:outputLabel  value="ใบกำกับราคาสินค้า" />

							<h:panelGroup>

							<p:commandButton value="เพิ่มใบกำกับสินค้า " process="@this"
								onclick="PF('selecteInvoice').show('#{component.clientId}')"
								dismissable="false" showCloseIcon="true">
							</p:commandButton>

							<p:dataTable id="data-invoice"
								value="#{billCtl.listSelectInvoice}" var="invoice"
								rowIndexVar="index" tableStyle="table-layout: auto;"
								paginator="true" paginatorPosition="bottom" rows="15">

								<p:column headerText="#">
									<h:outputText value="#{index+1}"></h:outputText>
								</p:column>

								<p:column headerText="เลขที่ใบกำกับราคาสินค้า ">
									<h:outputText value="#{invoice.invoiceNumber}"></h:outputText>
								</p:column>

								<p:column headerText="จำนวนเงิน">
									<h:outputText value="#{invoice.grandTotal}" />
								</p:column>

								<p:column>
									<p:commandButton icon="fa fa-remove"
										actionListener="#{billCtl.removeInvoice(invoice)}"
										process="@this" update="data-invoice"></p:commandButton>
								</p:column>

							</p:dataTable>
							
							</h:panelGroup>

							</h:panelGrid>
							
							<div style="padding-top: 1%">
								<p:commandButton value="บันทึก"
									actionListener="#{billCtl.saveBill}" process="add" update="add, data-bill">
								</p:commandButton>

								<p:commandButton value="ยกเลิก" actionListener="#{billCtl.init}"
									process="@this" update="add, tab:form-selecteInvoice:datatableIv">
								</p:commandButton>

							</div>

						</h:form>

						<p:overlayPanel widgetVar="selecteInvoice">

							<h:form id="form-selecteInvoice">

								<p:dataTable value="#{billCtl.listOfInvoice}" var="invoice"
									rowIndexVar="index" tableStyle="table-layout: auto;"
									filteredValue="#{billCtl.filteredInvoice}" paginator="true"
									paginatorPosition="bottom" rows="15" id="datatableIv">
									<p:column headerText="#">
										<h:outputText value="#{index +1}" />
									</p:column>

									<p:column headerText="รหัสลูกค้า"
										filterBy="#{invoice.invoiceNumber}" filterMatchMode="contains">
										<h:outputText value="#{invoice.invoiceNumber}" />
									</p:column>

									<p:column headerText="ชื่อลูกค้า" filterBy="#{invoice.dueDate}"
										filterMatchMode="contains">
										<h:outputText value="#{invoice.dueDate}" />
									</p:column>

									<p:column>
										<p:commandButton value="เลือก" process="@this"
											actionListener="#{billCtl.seleteInvoice(invoice)}"
											oncomplete="PF('selecteInvoice').hide()"
											update="tab:add:data-invoice">
										</p:commandButton>

									</p:column>

								</p:dataTable>


							</h:form>

						</p:overlayPanel>

					</p:tab>


				</p:tabView>

				<p:dataTable id="data-bill" value="#{billCtl.listOfBill}" var="bill"
					rowIndexVar="index" tableStyle="table-layout: auto;"
					paginator="true" paginatorPosition="bottom" rows="15">

					<p:column headerText="#">
						<h:outputText value="#{index+1}">
						</h:outputText>
					</p:column>

					<p:column headerText="เลขที่บิล ">
						<h:outputText value="#{bill.billNumber}">
						</h:outputText>
					</p:column>

					<p:column headerText="วันที่บิล">
						<h:outputText value="#{bill.billDate}">
						</h:outputText>
					</p:column>

					<p:column headerText="จำนวนเงิน">
						<h:outputText value="#{bill.grandTotal}">
						</h:outputText>
					</p:column>

					<p:column headerText="กำหนดชำระ">
						<h:outputText value="#{bill.dueDate}">
						</h:outputText>
					</p:column>
					
					<p:column>
						<p:commandButton icon="fa fa-edit" onclick="PF('tab').select(1)"
							process="@this" ajax="true" update="@(form)"
							actionListener="#{billCtl.update(bill)}">
						</p:commandButton>

						<p:commandButton icon="fa fa-trash" ajax="true"
							actionListener="#{billCtl.delete(bill)}" process="@this"
							update="data-bill">
						</p:commandButton>
					</p:column>
				</p:dataTable>



			</p:panel>

			<script type="text/javascript">
				function clearMessage() {
					$('#msgs').html('');
				}
			</script>
		</h:body>
	</ui:define>
</ui:composition>