
<ui:composition template="/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<ui:define name="content">
		<h:body>
			<p:panel id="panel">
				<p:messages autoUpdate="true" closable="true" id="msgs"
					sticky="false"></p:messages>
				<p:tabView onTabChange="clearMessage()" widgetVar="tab">

					<p:tab title="ค้นหาพนักงาน">

						<h:form id="search">

							<h:panelGrid cellpadding="6" columns="7">

								<h:outputLabel for="sname" value="ค้นหาด้วยชื่อจริง : " />
								<p:inputText id="sname"
									value="#{employeeCtl.sEmployeeInfo.firstName}"
									placeholder="ชื่อจริง" label="ชื่อจริง" />

								<h:outputLabel for="slastname" value="นามสุกล : " />
								<p:inputText id="slastname"
									value="#{employeeCtl.sEmployeeInfo.lastName}"
									label="นามสุกลจริง" placeholder="นามสุกล" />

								<p:commandButton icon="fa fa-search"
									actionListener="#{employeeCtl.search}" value="ค้นหา"
									update=":frm-dt" process="search"></p:commandButton>
								<p:commandButton value="ยกเลิก" update="panel" process="@this"
									icon="fa fa-times-circle" actionListener="#{employeeCtl.init}">
									<p:resetInput target="panel" />
								</p:commandButton>

							</h:panelGrid>

						</h:form>


					</p:tab>

					<p:tab title="สร้างพนักงาน">
						<h:form id="add">



							<h:panelGrid columns="6" cellpadding="10">

								<p:outputLabel for="positions" value="เลือกตำแหน่ง:" />
								<p:selectOneMenu id="positions" converter="converterValue2Item"
									value="#{employeeCtl.employeeInfo.position}" required="true"
									filter="true" filterMatchMode="startsWith" var="p"
									panelStyle="width:180px" requiredMessage="กรุณาเลือกตำแหน่ง">
									<f:selectItem  itemLabel="กรุณาเลือก" />
									<f:selectItems value="#{employeeCtl.listOfPosition}"
										var="position" itemLabel="#{position.name}"
										itemValue="#{position}">
									</f:selectItems>

									<p:column style="width:10%">
										<h:outputText value="#{p.name}" />
									</p:column>


								</p:selectOneMenu>


								<p:outputLabel for="firstname" value="ชื่อจริง :" />
								<p:inputText id="firstname"
									value="#{employeeCtl.employeeInfo.firstName}" required="true"
									label="Firstname" placeholder="ชื่อจริง"
									requiredMessage="กรุณากรอกชื่อ"
									validatorMessage="กรุณาใส่ตัวอักษร 3-30 ตัวอักษร">
									<f:validateLength minimum="3" maximum="30" />

								</p:inputText>



								<p:outputLabel for="lastname" value="นามสกุล :" />
								<p:inputText id="lastname"
									value="#{employeeCtl.employeeInfo.lastName}" label="Lastname"
									required="true" requiredMessage="กรุณากรอกนามสกุล"
									placeholder="นามสกุล"
									validatorMessage="กรุณาใส่นามสกุลอย่างน้อย 2 ตัวอักษร">
									<f:validateLength minimum="2" />

								</p:inputText>


								<p:outputLabel value="วันเกิด : " for="date" />
								<p:calendar id="date" effect="slide"
									value="#{employeeCtl.employeeInfo.birthDate}"
									placeholder="วันเกิด" maxdate="#{now}" navigator="true"
									locale="de" required="true" pattern="MM/dd/yyyy"
									requiredMessage="กรุณาเลือกวันเกิด" />


								<p:outputLabel for="age" value="อายุ : " />
								<p:inputText id="age" value="#{employeeCtl.employeeInfo.age}"
									label="" required="true" placeholder="อายุ"
									requiredMessage="กรุณาระบุอายุ"
									validatorMessage="กรุณาระบุอายุระหว่าง 15 - 100 ปี ">
									<f:validateDoubleRange minimum="15" maximum="100"  />
								</p:inputText>



								<p:outputLabel for="gender" value="เพศ : " />
								<p:selectOneRadio id="gender"
									value="#{employeeCtl.employeeInfo.gender}" required="true"
									requiredMessage="กรุณาเลือกเพศ">
									<f:selectItem itemLabel="Male" itemValue="M" />
									<f:selectItem itemLabel="Female" itemValue="F" />
									<f:converter converterId="javax.faces.Character"></f:converter>
								</p:selectOneRadio>



								<p:outputLabel for="address" value="ที่อยู่ :" />
								<p:inputTextarea id="address" rows="5" cols="33"
									value="#{employeeCtl.employeeInfo.address}"
									requiredMessage="กรุณาระบุที่อยู่ " required="true"
									validatorMessage="กรุณาใส่ที่อยู่จริง">
									<f:validateLength minimum="10" />

								</p:inputTextarea>



								<p:outputLabel for="TelPhone" value="เบอร์โทรศัพท์มือถือ:" />
								<p:inputMask id="TelPhone"
									value="#{employeeCtl.employeeInfo.telMobileNumber}"
									label="TelPhone" required="true"
									placeholder="เบอร์โทรศัพท์มือถือ"
									requiredMessage="กรุณากรอกเบอร์โทรศัพท์มือถือ"
									validatorMessage="กรุณาใส่เบอร์โทรศัพท์มือถือ 10 หลัก"
									mask="999-999-9999">

									<f:validateLength  minimum="10"  />

								</p:inputMask>



								<p:outputLabel for="TelHome" value="เบอร์โทรศัพท์บ้าน : " />
								<p:inputMask id="TelHome"
									value="#{employeeCtl.employeeInfo.telHomeNumber}"
									label="TelHome" required="true" placeholder="เบอร์โทรศัพท์"
									requiredMessage="กรุณากรอกเบอร์โทรศัพท์"
									validatorMessage="กรุณาใส่เบอร์โทรศัพท์มือถือ 8 หลัก"
									mask="99-999-9999">
									<f:validateLength minimum="8" />
								</p:inputMask>


								<p:outputLabel value="วันเที่เริ่มทำงาน : " for="startwork" />
								<p:calendar effect="slide" id="startwork" maxdate="#{now}"
									pattern="MM/dd/yyyy" navigator="true" required="true"
									value="#{employeeCtl.employeeInfo.startWorkDate}"
									requiredMessage="กรุณาวันเริ่มทำงาน" placeholder="วันเที่เริ่มทำงาน" />

							</h:panelGrid>
							<br />
							<br />

							<p:commandButton value="บันทึก" update="add,:frm-dt" ajax="true"
								validateClient="true" process="add"
								actionListener="#{employeeCtl.save}" icon="fa fa-save"></p:commandButton>
							
							<p:commandButton value="ยกเลิก" update="add, frm-dt:emp" process="@this"
								icon="fa fa-times-circle" actionListener="#{employeeCtl.init}">
								<p:resetInput target="panel" />
							</p:commandButton>
							
						<pe:keyFilter for="TelPhone,TelHome,age" mask="num"/>


						</h:form>

					</p:tab>


				</p:tabView>
				<br />

				<h:form id="frm-dt">

					<p:dataTable rowIndexVar="index" tableStyle="table-layout: auto;"
						paginator="true" value="#{employeeCtl.listOfEmployee}" id="emp"
						var="employee" paginatorPosition="bottom" rows="10">

						<p:column headerText="#">
							<h:outputText value="#{index+1}"></h:outputText>
						</p:column>

						<p:column headerText="ชื่อ">
							<h:outputText value="#{employee.firstName}"></h:outputText>
						</p:column>

						<p:column headerText="นามสกุล">
							<h:outputText value="#{employee.lastName}"></h:outputText>
						</p:column>

						<p:column headerText="ตำแหน่ง">
							<h:outputText value="#{employee.position.name}"></h:outputText>
						</p:column>




						<p:column>
							<p:commandButton icon="fa fa-edit"
								onclick="PF('tab').select(1)" process="@this" ajax="true"
								update="@(form)"
								actionListener="#{employeeCtl.update(employee)}"></p:commandButton>
							<p:commandButton icon="fa fa-trash"
								actionListener="#{employeeCtl.delete(employee)}" 
								update="@(form)" process="@this" ajax="true"></p:commandButton>
						</p:column>



					</p:dataTable>

				</h:form>


			</p:panel>

			<script type="text/javascript">
				function clearMessage() {
					$('#msgs').html('');
				}
			</script>


		</h:body>


	</ui:define>
</ui:composition>
